
<div class="fp">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">DANH SÁCH CÁC PROVIDER BẠN ĐÃ THEO DÕI</h3>

                    <div class="card-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" name="table_search" class="form-control float-right"
                                placeholder="Search">

                            <div class="input-group-append">
                                <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover text-nowrap">
                        <thead>
                            <tr>
                                <th>Avatar</th>
                                <th>Name</th>
                                <th>Rate</th>
                                <th>Follower</th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                
                                <td><img class="provider-image img-circle" src="../../../../assets/images/tramanh.jpg" alt="User profile picture"></td>
                                <td>Nguyễn Tấn Huy</td>
                                <td>*</td>
                                <td><span class="tag tag-success">6666</span></td>
                                <td>            
                                    <div class="btn-group btn-group-sm">
                                        <a href="#" class="btn btn-danger">Unfollow</a>
                                      </div>
                                </td>
                            </tr>
                            <tr>
                                <td><img class="provider-image img-fluid img-circle" src="../../../../assets/images/tramanh.jpg" alt="User profile picture"></td>
                                <td>Triệu Đức Huy</td>
                                <td>*****</td>
                                <td><span class="tag tag-success">99999</span></td>
                                <td>
                                    <div class="btn-group btn-group-sm">
                                        <a href="#" class="btn btn-danger">Unfollow</a>
                                      </div>
                                </td>
                            </tr>
                            <tr>
                                <td><img class="provider-image img-fluid img-circle text-center" src="../../../../assets/images/tramanh.jpg" alt="User profile picture"></td>
                                <td>Nguyễn Đình Song Hiệp</td>
                                <td>****</td>
                                <td><span class="tag tag-success">1000000</span></td>
                                <td>
                                    <div class="btn-group btn-group-sm">
                                        <a href="#" class="btn btn-danger">Unfollow</a>
                                      </div>
                                </td>
                            </tr>
                            <tr>
                                <td><img class="provider-image img-fluid img-circle" src="../../../../assets/images/tramanh.jpg" alt="User profile picture"></td>
                                <td>Yui Hatano</td>
                                <td>*********</td>
                                <td><span class="tag tag-danger">999999999</span></td>
                                <td>
                                    <div class="btn-group btn-group-sm">
                                        <a href="#" class="btn btn-danger">Unfollow</a>
                                      </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
</div>