<div style="margin-left: -250px;">
  <div style="width: 100%; margin: 0;">
    <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig" (afterChange)="afterChange($event)">
      <div ngxSlickItem *ngFor="let slide of slides" class="slide">
        <img src="{{slide.img}}" alt="slider image">
      </div>
    </ngx-slick>
  </div>
  <div class="container">
    <!-- introduce body -->
    <div class="introduce">
      <div class="first-block row">
        <div class="col-xl-6 col-sm-12">
          <h3><strong>Chào mừng đến với bất động sản BPT !</strong></h3>
          <h5>Nhanh tay chọn các dịch vụ bạn ưa thích dưới đây</h5>
          <h5><a href="/login">Đăng nhập</a> hoặc <a href="/register">đăng kí</a> để trải nghiệm</h5>
          <div class="introduce-content">
            <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig2"
              (afterChange)="afterChange($event)">
              <div ngxSlickItem *ngFor="let item of category" class="outside">
                <a [routerLink]="[ '/main/listOfItem',item.categoryName]">
                  <img [src]="item.imgPath" alt="slider image" class="intro-img-2">
                <p class="title-1"><strong>{{item.categoryName}}</strong></p>
                </a>
                
              </div>
            </ngx-slick>
          </div>
        </div>
      </div>
    </div>
    <!-- body part 1 -->

    <!-- <div class="body-part-1">
      <div class="row">
        <div class="col-xl-12" class="title mb--18">
          <h2 class="extra-bold p--giant">Chọn nơi bạn sống !</h2>
          <p>Các vị trí dưới đây tập hợp các dịch vụ bạn cần tại nơi bạn sống, nhanh tay lên nào các bạn!
          </p>
          <div class="body-part1-content">
            <ngx-slick class="carousel " #slickModal="slick-modal" [config]="slideConfig3"
              (afterChange)="afterChange($event)">
              <div ngxSlickItem *ngFor="let slide2 of locationSliders" class="">
                <div class="outside-1">
                  <img src="{{slide2.img}}" alt="slider image" class="intro-img">
                  <p class="title-1"><strong>{{slide2.description}}</strong></p>
                  
                </div>
              </div>
            </ngx-slick>
          </div>
        </div>
      </div>
    </div> -->

    <!-- location -->
    <h2 class="extra-bold p--giant" style="margin-top: 50px;">Chọn nơi bạn sống !</h2>
    <p>Các vị trí dưới đây tập hợp các dịch vụ bạn cần tại nơi bạn sống, nhanh tay lên nào các bạn!
    </p>
    <div id="body-part1-content" >
      <ngx-slick class="carousel" #slickModal="slick-modal" [config]="sliderConfigPopular"
        (afterChange)="afterChange($event)">
        <div ngxSlickItem *ngFor="let item of locations">
          <!-- 1st -->
          <div class="outside-1" alt=slider>
            <div><a [routerLink]="[ '/main/listOfItem',item.city]" tabindex="0" style="width: 100%; display: inline-block;">
                <div class="outside-1">
                  <img [src]="item.imgPath" class="intro-img">

                  <p class="location-titlte">{{item.city}}</p>
                </div>

              </a></div>
          </div>
        </div>
      </ngx-slick>
    </div>

    <!-- news -->
    <h2 class="extra-bold p--giant" style="margin-top: 50px;">Bản tin ngày hôm nay !</h2>
    <div class="row">
      <div *ngFor="let item of news" class="col-md-3">

          <div class="c-product-card--grid">
              <div class="promo is-relative"><a>
                      <div class="promo__image">
                          <div class="promo__image-wrap"><img 
                                  class="w--100"
                                  [src]="item.imgPath"
                                  lazy="loaded">
                              <!---->
                          </div>
                      </div>
                  </a>
                  <!---->
                  <div class="promo__content">
                      <div class="is-relative"><a  class=""
                              target="_blank" id="room-item" data-value="23052">
                              <div class="promo__title extra-bold"
                                  style="-webkit-box-orient: vertical;">
                                  {{item.title}}
                              </div>
                          </a>
                          <div class="promo__description my--6 text-lowercase">
                              {{item.author}}</div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
    <h3 style="margin-top: 100px;">Thông tin quản cáo, News, ....</h3>
  </div>
</div>