<div style="width: 100%; margin: 0; padding: 0;">
  <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig" (afterChange)="afterChange($event)">
    <div ngxSlickItem *ngFor="let slide of slides" class="slide">
      <img src="{{slide.img}}" alt="slider image">
    </div>
  </ngx-slick>
</div>
<div class="container">
  <!-- introduce body -->
  <div class="introduce">
    <div class="first-block row">
      <div class="col-xl-6 col-sm-12">
        <h3><strong>Chào mừng đến với bất động sản BPT !</strong></h3>
        <h5>Nhanh tay chọn các dịch vụ bạn ưa thích dưới đây</h5>
        <h5><a href="#">Đăng nhập</a> hoặc <a href="#">đăng kí</a> để trải nghiệm</h5>
        <div class="introduce-content">
          <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig2"
            (afterChange)="afterChange($event)">
            <div ngxSlickItem *ngFor="let slide2 of slides2" class="outside">
              <img src="{{slide2.img}}" alt="slider image" class="intro-img">
              <p class="title-1"><strong>{{slide2.tit1}}</strong></p>
              <p class="title-2">{{slide2.tit2}}</p>
            </div>
          </ngx-slick>
        </div>
      </div>
    </div>
  </div>
  <!-- body part 1 -->

  <!-- <div class="body-part-1">
    <div class="row">
      <div class="col-xl-12" class="title mb--18">
        <h2 class="extra-bold p--giant">Chọn nơi bạn sống !</h2>
          <p>Các vị trí dưới đây tập hợp các dịch vụ bạn cần tại nơi bạn sống, nhanh tay lên nào các bạn!
          </p>
          <div class="body-part1-content">
            <ngx-slick class="carousel " #slickModal="slick-modal" [config]="slideConfig3"
              (afterChange)="afterChange($event)">
              <div ngxSlickItem *ngFor="let slide2 of locationSliders" class="">
                <div class="outside-1">
                  <img src="{{slide2.img}}" alt="slider image" class="intro-img">
                <p class="title-1"><strong>{{slide2.description}}</strong></p>
                <p class="title-2">{{slide2.description}}</p>
                </div>
              </div>
            </ngx-slick>
          </div>
      </div>
    </div>
  </div> -->

  <div class="body-part-1">
    <div class="row">
      <div class="title mb--18 col-xl-12">
        <h2 class="extra-bold p--giant">Bóng hồng "chill" thả ga!</h2>
        <p>Khám phá ngay top chỗ ở đẹp, giá cực tốt dành tặng cho hội chị em trong tháng 3 này.</p>
      </div>

      <!-- slide slick -->
      <div class="destination-wrap col-sm-12 " style="width: 100%;" id="discount-display" alt="slider">
        <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig3"
          (afterChange)="afterChange($event)">
          <div ngxSlickItem>
            <div><a href="/vi/homestay/explore/deal-hot-cho-bong-hong-476" class="article is-relative"
                style="width: 100%; display: inline-block;" tabindex="0"><span
                  class="is-block bg-img bg-img--85 radius-xs" data-src="img/apartment_13_1583116049.jpg" lazy="loaded"
                  style="background-image: url(&quot;img/apartment_13_1583116049.jpg&quot;);"></span>
                <div class="article__content">
                  <div class="article__title bold">Deal hot cho Bóng hồng
                  </div> <span class="article__excerpt">
                    <p><span style="color: rgb(21, 27, 38);">Nhập</span><strong style="color: rgb(21, 27, 38);"> CHI8E3
                        |
                        -80.000đ </strong><span style="color: rgb(21, 27, 38);">cho tất
                        cả các
                        chỗ ở trong Bộ sưu tập này!</span></p>
                  </span>
                </div>
              </a></div>
          </div>

          <div ngxSlickItem>
            <div><a href="/vi/homestay/explore/chi-em-thich-song-ao-477" class="article is-relative"
                style="width: 100%; display: inline-block;" tabindex="0"><span
                  class="is-block bg-img bg-img--85 radius-xs" data-src="../img/apartment_14_1583116112.jpg"
                  lazy="loaded"
                  style="background-image: url(&quot;https://cdn.luxstay.com/home/apartment/apartment_14_1583116112.jpg&quot;);"></span>
                <div class="article__content">
                  <div class="article__title bold">Chị em thích "sống ảo</div>
                  <span class="article__excerpt">
                    <p>Nhập <strong style="color: rgb(21, 27, 38);">CHILL |
                        -10%</strong><span style="color: rgb(21, 27, 38);"> tối đa
                        120.000đ
                        cho các chỗ ở trong Bộ sưu tập này!</span></p>
                  </span>
                </div>
              </a></div>
          </div>

          <div ngxSlickItem>
            <div><a href="/vi/homestay/explore/thu-gian-voi-be-boi-bbq-478" class="article is-relative"
                style="width: 100%; display: inline-block;" tabindex="0"><span
                  class="is-block bg-img bg-img--85 radius-xs"
                  data-src="https://cdn.luxstay.com/home/apartment/apartment_15_1583116208.jpg" lazy="loaded"
                  style="background-image: url(&quot;https://cdn.luxstay.com/home/apartment/apartment_15_1583116208.jpg&quot;);"></span>
                <div class="article__content">
                  <div class="article__title bold">Thư giãn với Bể bơi &amp;
                    BBQ</div> <span class="article__excerpt">
                    <p>Nhập <strong style="color: rgb(21, 27, 38);">CHILL |
                        -10% </strong><span style="color: rgb(21, 27, 38);">tối đa
                        120.000đ
                        cho các chỗ ở trong Bộ sưu tập này!</span></p>
                  </span>
                </div>
              </a></div>
          </div>

          <div ngxSlickItem>
            <div><a href="/vi/homestay/explore/thu-gian-voi-be-boi-bbq-478" class="article is-relative"
              style="width: 100%; display: inline-block;" tabindex="0"><span
                class="is-block bg-img bg-img--85 radius-xs"
                data-src="https://cdn.luxstay.com/home/apartment/apartment_15_1583116208.jpg" lazy="loaded"
                style="background-image: url(&quot;https://cdn.luxstay.com/home/apartment/apartment_15_1583116208.jpg&quot;);"></span>
              <div class="article__content">
                <div class="article__title bold">Thư giãn với Bể bơi &amp;
                  BBQ</div> <span class="article__excerpt">
                  <p>Nhập <strong style="color: rgb(21, 27, 38);">CHILL |
                      -10% </strong><span style="color: rgb(21, 27, 38);">tối đa
                      120.000đ
                      cho các chỗ ở trong Bộ sưu tập này!</span></p>
                </span>
              </div>
            </a></div>
          </div>

          <div ngxSlickItem>
            <div><a href="/vi/homestay/explore/thu-gian-voi-be-boi-bbq-478" class="article is-relative"
                style="width: 100%; display: inline-block;" tabindex="0"><span
                  class="is-block bg-img bg-img--85 radius-xs"
                  data-src="https://cdn.luxstay.com/home/apartment/apartment_15_1583116208.jpg" lazy="loaded"
                  style="background-image: url(&quot;https://cdn.luxstay.com/home/apartment/apartment_15_1583116208.jpg&quot;);"></span>
                <div class="article__content">
                  <div class="article__title bold">Thư giãn với Bể bơi &amp;
                    BBQ</div> <span class="article__excerpt">
                    <p>Nhập <strong style="color: rgb(21, 27, 38);">CHILL |
                        -10% </strong><span style="color: rgb(21, 27, 38);">tối đa
                        120.000đ
                        cho các chỗ ở trong Bộ sưu tập này!</span></p>
                  </span>
                </div>
              </a></div>
          </div>
        </ngx-slick>
      </div>
    </div>
  </div>
</div>