<div class="btn btn-primary btn-lg btn-flat" style="margin-top: 20px; margin-left: 45px;">
    <a href="/main/userManage/myService/post/index" style="color: aliceblue;">
        <i class="fas fa-plus-circle"></i>
        Add a service
    </a>
</div>
<div _ngcontent-sjt-c5="" class="container container--md">
    <div _ngcontent-sjt-c5="" class="row">
        <div _ngcontent-sjt-c5="" class="col-xs-12">
            <div _ngcontent-sjt-c5="" class="row mt--30">
                <div _ngcontent-sjt-c5="" class="col-lg-12">
                    <div _ngcontent-sjt-c5="" class="title">
                        <h2 _ngcontent-sjt-c5="" class="mb--0 p--giant">5 services are available</h2>
                    </div>
                </div>
            </div>
            <div _ngcontent-sjt-c5="" class="row">
                <div _ngcontent-sjt-c5="" class="col-xs-6 col-md-3 col-lg-20">
                    <div _ngcontent-sjt-c5="" class="c-product-card--grid">
                        <div _ngcontent-sjt-c5="" class="promo is-relative"><a _ngcontent-sjt-c5="" class=""
                                data-value="23052" href="/vi/rooms/23052" target="_blank">
                                <div _ngcontent-sjt-c5="" class="promo__image">
                                    <div _ngcontent-sjt-c5="" class="promo__image-wrap"><img _ngcontent-sjt-c5=""
                                            class="w--100"
                                            data-src="https://cdn.luxstay.com/rooms/23052/medium/room_23052_220_1571210857.jpg"
                                            elementtiming="product" height="192" lazy="loaded"
                                            src="https://cdn.luxstay.com/rooms/23052/medium/room_23052_220_1571210857.jpg"
                                            width="270"></div>
                                </div>
                            </a>
                            <div _ngcontent-sjt-c5="" class="promo__content">
                                <div _ngcontent-sjt-c5="" class="promo__type bold"
                                    style="-webkit-box-orient: vertical;"> Nhà riêng </div>
                                <div _ngcontent-sjt-c5="" class="is-relative"><a _ngcontent-sjt-c5="" class=""
                                        data-value="23052" href="/vi/rooms/23052" id="room-item" target="_blank">
                                        <div _ngcontent-sjt-c5="" class="promo__title extra-bold"
                                            style="-webkit-box-orient: vertical;"><svg _ngcontent-sjt-c5=""
                                                class="is-instant-book mr--6 svg-icon svg-fill"
                                                style="width: 20px; height: 20px;" version="1.1" viewBox="0 0 20 20">
                                                <defs _ngcontent-sjt-c5="">
                                                    <linearGradient _ngcontent-sjt-c5="" id="svgicon_instant_book_a"
                                                        x1="100%" x2="0%" y1="50%" y2="50%">
                                                        <stop _ngcontent-sjt-c5="" offset="0%" stop-color="#F68A39">
                                                        </stop>
                                                        <stop _ngcontent-sjt-c5="" offset="100%" stop-color="#F65E39">
                                                        </stop>
                                                    </linearGradient>
                                                </defs>
                                                <g _ngcontent-sjt-c5="" fill="none" fill-rule="evenodd">
                                                    <circle _ngcontent-sjt-c5="" cx="10" cy="10"
                                                        fill="url(#svgicon_instant_book_a)" pid="0" r="10"></circle>
                                                    <path _ngcontent-sjt-c5=""
                                                        d="M10.42 15.158l3.037-6.073A.75.75 0 0 0 12.787 8H10V5.177a.75.75 0 0 0-1.42-.335l-3.037 6.073A.75.75 0 0 0 6.213 12H9v2.823a.75.75 0 0 0 1.42.335z"
                                                        fill="#FFF" pid="1"></path>
                                                </g>
                                            </svg> Phòng 1 giường đôi - Lambro home </div>
                                    </a>
                                    <div _ngcontent-sjt-c5="" class="promo__description my--6 text-lowercase">2 khách ·
                                        1 Phòng ngủ · 1 phòng tắm</div>
                                    <div _ngcontent-sjt-c5="" class="promo__price mb--6"><span _ngcontent-sjt-c5=""
                                            class="extra-bold"><span
                                                _ngcontent-sjt-c5="">175,000₫</span>/đêm</span><span
                                            _ngcontent-sjt-c5="" class="strike c-gray-9 ml--6">250,000₫</span></div>
                                    <div _ngcontent-sjt-c5="" class="promo__add mb--6 promo__add mb--6"><a
                                            _ngcontent-sjt-c5="" class="nuxt-link-exact-active nuxt-link-active"
                                            href="/vi/vietnam/lam-dong/da-lat">Đà Lạt</a>, <a _ngcontent-sjt-c5=""
                                            class="nuxt-link-active" href="/vi/vietnam/lam-dong">Lâm Đồng</a>, <a
                                            _ngcontent-sjt-c5="" class="nuxt-link-active" href="/vi/vietnam">Vietnam</a>
                                    </div>
                                    <div _ngcontent-sjt-c5="" class="promo__review">
                                        <div _ngcontent-sjt-c5="" class="star-rating d-inline-block"><svg
                                                _ngcontent-sjt-c5="" class="mr--3 svg-icon svg-fill"
                                                style="width: 14px; height: 14px;" version="1.1" viewBox="0 0 14 14">
                                                <path _ngcontent-sjt-c5="" _fill-rule="evenodd"
                                                    d="M14 5.425c0 .13-.073.27-.219.424l-3.054 3.123.724 4.41c.005.042.008.1.008.177 0 .123-.03.228-.088.313a.292.292 0 0 1-.257.128.658.658 0 0 1-.336-.106L7 11.812l-3.778 2.082a.69.69 0 0 1-.336.106c-.118 0-.206-.043-.265-.128a.538.538 0 0 1-.089-.313 1.5 1.5 0 0 1 .017-.177l.724-4.41L.21 5.849C.07 5.69 0 5.549 0 5.425c0-.217.157-.353.471-.405l4.224-.644L6.588.362C6.694.12 6.832 0 7 0c.168 0 .306.12.412.362l1.893 4.014 4.224.644c.314.052.471.188.471.405z"
                                                    fill="#ffb025" pid="0" stroke="none"></path>
                                            </svg><svg _ngcontent-sjt-c5="" class="mr--3 svg-icon svg-fill"
                                                style="width: 14px; height: 14px;" version="1.1" viewBox="0 0 14 14">
                                                <path _ngcontent-sjt-c5="" _fill-rule="evenodd"
                                                    d="M14 5.425c0 .13-.073.27-.219.424l-3.054 3.123.724 4.41c.005.042.008.1.008.177 0 .123-.03.228-.088.313a.292.292 0 0 1-.257.128.658.658 0 0 1-.336-.106L7 11.812l-3.778 2.082a.69.69 0 0 1-.336.106c-.118 0-.206-.043-.265-.128a.538.538 0 0 1-.089-.313 1.5 1.5 0 0 1 .017-.177l.724-4.41L.21 5.849C.07 5.69 0 5.549 0 5.425c0-.217.157-.353.471-.405l4.224-.644L6.588.362C6.694.12 6.832 0 7 0c.168 0 .306.12.412.362l1.893 4.014 4.224.644c.314.052.471.188.471.405z"
                                                    fill="#ffb025" pid="0" stroke="none"></path>
                                            </svg><svg _ngcontent-sjt-c5="" class="mr--3 svg-icon svg-fill"
                                                style="width: 14px; height: 14px;" version="1.1" viewBox="0 0 14 14">
                                                <path _ngcontent-sjt-c5="" _fill-rule="evenodd"
                                                    d="M14 5.425c0 .13-.073.27-.219.424l-3.054 3.123.724 4.41c.005.042.008.1.008.177 0 .123-.03.228-.088.313a.292.292 0 0 1-.257.128.658.658 0 0 1-.336-.106L7 11.812l-3.778 2.082a.69.69 0 0 1-.336.106c-.118 0-.206-.043-.265-.128a.538.538 0 0 1-.089-.313 1.5 1.5 0 0 1 .017-.177l.724-4.41L.21 5.849C.07 5.69 0 5.549 0 5.425c0-.217.157-.353.471-.405l4.224-.644L6.588.362C6.694.12 6.832 0 7 0c.168 0 .306.12.412.362l1.893 4.014 4.224.644c.314.052.471.188.471.405z"
                                                    fill="#ffb025" pid="0" stroke="none"></path>
                                            </svg><svg _ngcontent-sjt-c5="" class="mr--3 svg-icon svg-fill"
                                                style="width: 14px; height: 14px;" version="1.1" viewBox="0 0 14 14">
                                                <path _ngcontent-sjt-c5="" _fill-rule="evenodd"
                                                    d="M14 5.425c0 .13-.073.27-.219.424l-3.054 3.123.724 4.41c.005.042.008.1.008.177 0 .123-.03.228-.088.313a.292.292 0 0 1-.257.128.658.658 0 0 1-.336-.106L7 11.812l-3.778 2.082a.69.69 0 0 1-.336.106c-.118 0-.206-.043-.265-.128a.538.538 0 0 1-.089-.313 1.5 1.5 0 0 1 .017-.177l.724-4.41L.21 5.849C.07 5.69 0 5.549 0 5.425c0-.217.157-.353.471-.405l4.224-.644L6.588.362C6.694.12 6.832 0 7 0c.168 0 .306.12.412.362l1.893 4.014 4.224.644c.314.052.471.188.471.405z"
                                                    fill="#ffb025" pid="0" stroke="none"></path>
                                            </svg><svg _ngcontent-sjt-c5="" class="mr--3 svg-icon svg-fill"
                                                style="width: 14px; height: 14px;" version="1.1" viewBox="0 0 14 14">
                                                <path _ngcontent-sjt-c5="" _fill-rule="evenodd"
                                                    d="M14 5.425c0 .13-.073.27-.219.424l-3.054 3.123.724 4.41c.005.042.008.1.008.177 0 .123-.03.228-.088.313a.292.292 0 0 1-.257.128.658.658 0 0 1-.336-.106L7 11.812l-3.778 2.082a.69.69 0 0 1-.336.106c-.118 0-.206-.043-.265-.128a.538.538 0 0 1-.089-.313 1.5 1.5 0 0 1 .017-.177l.724-4.41L.21 5.849C.07 5.69 0 5.549 0 5.425c0-.217.157-.353.471-.405l4.224-.644L6.588.362C6.694.12 6.832 0 7 0c.168 0 .306.12.412.362l1.893 4.014 4.224.644c.314.052.471.188.471.405z"
                                                    fill="#ffb025" pid="0" stroke="none"></path>
                                            </svg></div><span _ngcontent-sjt-c5=""
                                            class="promo__review-count p--small">2</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div _ngcontent-sjt-c5="" class="col-xs-6 col-md-3 col-lg-20">
                    <div _ngcontent-sjt-c5="" class="c-product-card--grid">
                        <div _ngcontent-sjt-c5="" class="promo is-relative"><a _ngcontent-sjt-c5="" class=""
                                data-value="15416" href="/vi/rooms/15416" target="_blank">
                                <div _ngcontent-sjt-c5="" class="promo__image">
                                    <div _ngcontent-sjt-c5="" class="promo__image-wrap"><img _ngcontent-sjt-c5=""
                                            class="w--100"
                                            data-src="https://cdn.luxstay.com/rooms/15416/medium/1537958439_geranium_03.jpg"
                                            elementtiming="product" height="192" lazy="loaded"
                                            src="https://cdn.luxstay.com/rooms/15416/medium/1537958439_geranium_03.jpg"
                                            width="270"></div>
                                    <div _ngcontent-sjt-c5="" class="is-absolute promo__label-wrap"></div>
                                </div>
                            </a>
                            <div _ngcontent-sjt-c5="" class="promo__content">
                                <div _ngcontent-sjt-c5="" class="promo__type bold"
                                    style="-webkit-box-orient: vertical;"> Biệt Thự </div>
                                <div _ngcontent-sjt-c5="" class="is-relative"><a _ngcontent-sjt-c5="" class=""
                                        data-value="15416" href="/vi/rooms/15416" id="room-item" target="_blank">
                                        <div _ngcontent-sjt-c5="" class="promo__title extra-bold"
                                            style="-webkit-box-orient: vertical;"><svg _ngcontent-sjt-c5=""
                                                class="is-instant-book mr--6 svg-icon svg-fill"
                                                style="width: 20px; height: 20px;" version="1.1" viewBox="0 0 20 20">
                                                <title _ngcontent-sjt-c5="">Đặt phòng ngay, không cần đợi chủ nhà phê
                                                    duyệt</title>
                                                <defs _ngcontent-sjt-c5="">
                                                    <linearGradient _ngcontent-sjt-c5="" id="svgicon_instant_book_a"
                                                        x1="100%" x2="0%" y1="50%" y2="50%">
                                                        <stop _ngcontent-sjt-c5="" offset="0%" stop-color="#F68A39">
                                                        </stop>
                                                        <stop _ngcontent-sjt-c5="" offset="100%" stop-color="#F65E39">
                                                        </stop>
                                                    </linearGradient>
                                                </defs>
                                                <g _ngcontent-sjt-c5="" fill="none" fill-rule="evenodd">
                                                    <circle _ngcontent-sjt-c5="" cx="10" cy="10"
                                                        fill="url(#svgicon_instant_book_a)" pid="0" r="10"></circle>
                                                    <path _ngcontent-sjt-c5=""
                                                        d="M10.42 15.158l3.037-6.073A.75.75 0 0 0 12.787 8H10V5.177a.75.75 0 0 0-1.42-.335l-3.037 6.073A.75.75 0 0 0 6.213 12H9v2.823a.75.75 0 0 0 1.42.335z"
                                                        fill="#FFF" pid="1"></path>
                                                </g>
                                            </svg> Suite </div>
                                    </a>
                                    <div _ngcontent-sjt-c5="" class="promo__description my--6 text-lowercase">2 khách ·
                                        1 Phòng ngủ · 1 phòng tắm</div>
                                    <div _ngcontent-sjt-c5="" class="promo__price mb--6"><span _ngcontent-sjt-c5=""
                                            class="extra-bold"><span _ngcontent-sjt-c5="">3,100,000₫</span>/đêm</span>
                                    </div>
                                    <div _ngcontent-sjt-c5="" class="promo__add mb--6 promo__add mb--6"><a
                                            _ngcontent-sjt-c5="" class="nuxt-link-exact-active nuxt-link-active"
                                            href="/vi/vietnam/lam-dong/da-lat">Đà Lạt</a>, <a _ngcontent-sjt-c5=""
                                            class="nuxt-link-active" href="/vi/vietnam/lam-dong">Lâm Đồng</a>, <a
                                            _ngcontent-sjt-c5="" class="nuxt-link-active" href="/vi/vietnam">Vietnam</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div _ngcontent-sjt-c5="" class="col-xs-6 col-md-3 col-lg-20">
                    <div _ngcontent-sjt-c5="" class="c-product-card--grid">
                        <div _ngcontent-sjt-c5="" class="promo is-relative"><a _ngcontent-sjt-c5="" class=""
                                data-value="12641" href="/vi/rooms/12641" target="_blank">
                                <div _ngcontent-sjt-c5="" class="promo__image">
                                    <div _ngcontent-sjt-c5="" class="promo__image-wrap"><img _ngcontent-sjt-c5=""
                                            class="w--100"
                                            data-src="https://cdn.luxstay.com/rooms/12641/medium/1526831021_66E973BF-AA8B-4801-A646-66FF090B71F6.jpg"
                                            elementtiming="product" height="192" lazy="loaded"
                                            src="https://cdn.luxstay.com/rooms/12641/medium/1526831021_66E973BF-AA8B-4801-A646-66FF090B71F6.jpg"
                                            width="270"></div>
                                    <div _ngcontent-sjt-c5="" class="is-absolute promo__label-wrap"></div>
                                </div>
                            </a>
                            <div _ngcontent-sjt-c5="" class="promo__content">
                                <div _ngcontent-sjt-c5="" class="promo__type bold"
                                    style="-webkit-box-orient: vertical;"> Nhà riêng </div>
                                <div _ngcontent-sjt-c5="" class="is-relative"><a _ngcontent-sjt-c5="" class=""
                                        data-value="12641" href="/vi/rooms/12641" id="room-item" target="_blank">
                                        <div _ngcontent-sjt-c5="" class="promo__title extra-bold"
                                            style="-webkit-box-orient: vertical;"><svg _ngcontent-sjt-c5=""
                                                class="is-instant-book mr--6 svg-icon svg-fill"
                                                style="width: 20px; height: 20px;" version="1.1" viewBox="0 0 20 20">
                                                <title _ngcontent-sjt-c5="">Đặt phòng ngay, không cần đợi chủ nhà phê
                                                    duyệt</title>
                                                <defs _ngcontent-sjt-c5="">
                                                    <linearGradient _ngcontent-sjt-c5="" id="svgicon_instant_book_a"
                                                        x1="100%" x2="0%" y1="50%" y2="50%">
                                                        <stop _ngcontent-sjt-c5="" offset="0%" stop-color="#F68A39">
                                                        </stop>
                                                        <stop _ngcontent-sjt-c5="" offset="100%" stop-color="#F65E39">
                                                        </stop>
                                                    </linearGradient>
                                                </defs>
                                                <g _ngcontent-sjt-c5="" fill="none" fill-rule="evenodd">
                                                    <circle _ngcontent-sjt-c5="" cx="10" cy="10"
                                                        fill="url(#svgicon_instant_book_a)" pid="0" r="10"></circle>
                                                    <path _ngcontent-sjt-c5=""
                                                        d="M10.42 15.158l3.037-6.073A.75.75 0 0 0 12.787 8H10V5.177a.75.75 0 0 0-1.42-.335l-3.037 6.073A.75.75 0 0 0 6.213 12H9v2.823a.75.75 0 0 0 1.42.335z"
                                                        fill="#FFF" pid="1"></path>
                                                </g>
                                            </svg> Chái Bơ Homestay - Phòng Riêng có ban công </div>
                                    </a>
                                    <div _ngcontent-sjt-c5="" class="promo__description my--6 text-lowercase">4 khách ·
                                        1 Phòng ngủ · 1 phòng tắm</div>
                                    <div _ngcontent-sjt-c5="" class="promo__price mb--6"><span _ngcontent-sjt-c5=""
                                            class="extra-bold"><span _ngcontent-sjt-c5="">790,000₫</span>/đêm</span>
                                    </div>
                                    <div _ngcontent-sjt-c5="" class="promo__add mb--6 promo__add mb--6"><a
                                            _ngcontent-sjt-c5="" class="nuxt-link-exact-active nuxt-link-active"
                                            href="/vi/vietnam/lam-dong/da-lat">Đà Lạt</a>, <a _ngcontent-sjt-c5=""
                                            class="nuxt-link-active" href="/vi/vietnam/lam-dong">Lâm Đồng</a>, <a
                                            _ngcontent-sjt-c5="" class="nuxt-link-active" href="/vi/vietnam">Vietnam</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div _ngcontent-sjt-c5="" class="col-xs-6 col-md-3 col-lg-20">
                    <div _ngcontent-sjt-c5="" class="c-product-card--grid">
                        <div _ngcontent-sjt-c5="" class="promo is-relative"><a _ngcontent-sjt-c5="" class=""
                                data-value="21046" href="/vi/rooms/21046" target="_blank">
                                <div _ngcontent-sjt-c5="" class="promo__image">
                                    <div _ngcontent-sjt-c5="" class="promo__image-wrap"><img _ngcontent-sjt-c5=""
                                            class="w--100"
                                            data-src="https://cdn.luxstay.com/rooms/21046/medium/610A2957.jpg"
                                            elementtiming="product" height="192" lazy="loaded"
                                            src="https://cdn.luxstay.com/rooms/21046/medium/610A2957.jpg" width="270">
                                    </div>
                                    <div _ngcontent-sjt-c5="" class="is-absolute promo__label-wrap"><span
                                            _ngcontent-sjt-c5="" class="promo__label is-promotion">-30% Hôm nay</span>
                                    </div>
                                </div>
                            </a>
                            <div _ngcontent-sjt-c5="" class="promo__content">
                                <div _ngcontent-sjt-c5="" class="promo__type bold"
                                    style="-webkit-box-orient: vertical;"> Căn hộ Studio </div>
                                <div _ngcontent-sjt-c5="" class="is-relative"><a _ngcontent-sjt-c5="" class=""
                                        data-value="21046" href="/vi/rooms/21046" id="room-item" target="_blank">
                                        <div _ngcontent-sjt-c5="" class="promo__title extra-bold"
                                            style="-webkit-box-orient: vertical;"><svg _ngcontent-sjt-c5=""
                                                class="is-instant-book mr--6 svg-icon svg-fill"
                                                style="width: 20px; height: 20px;" version="1.1" viewBox="0 0 20 20">
                                                <title _ngcontent-sjt-c5="">Đặt phòng ngay, không cần đợi chủ nhà phê
                                                    duyệt</title>
                                                <defs _ngcontent-sjt-c5="">
                                                    <linearGradient _ngcontent-sjt-c5="" id="svgicon_instant_book_a"
                                                        x1="100%" x2="0%" y1="50%" y2="50%">
                                                        <stop _ngcontent-sjt-c5="" offset="0%" stop-color="#F68A39">
                                                        </stop>
                                                        <stop _ngcontent-sjt-c5="" offset="100%" stop-color="#F65E39">
                                                        </stop>
                                                    </linearGradient>
                                                </defs>
                                                <g _ngcontent-sjt-c5="" fill="none" fill-rule="evenodd">
                                                    <circle _ngcontent-sjt-c5="" cx="10" cy="10"
                                                        fill="url(#svgicon_instant_book_a)" pid="0" r="10"></circle>
                                                    <path _ngcontent-sjt-c5=""
                                                        d="M10.42 15.158l3.037-6.073A.75.75 0 0 0 12.787 8H10V5.177a.75.75 0 0 0-1.42-.335l-3.037 6.073A.75.75 0 0 0 6.213 12H9v2.823a.75.75 0 0 0 1.42.335z"
                                                        fill="#FFF" pid="1"></path>
                                                </g>
                                            </svg> Eco Apartment - căn hộ mini đầy đủ tiện nghi, gần Hồ Xuân Hương (1)
                                        </div>
                                    </a>
                                    <div _ngcontent-sjt-c5="" class="promo__description my--6 text-lowercase">4 khách ·
                                        1 Phòng ngủ · 1 phòng tắm</div>
                                    <div _ngcontent-sjt-c5="" class="promo__price mb--6"><span _ngcontent-sjt-c5=""
                                            class="extra-bold"><span
                                                _ngcontent-sjt-c5="">360,500₫</span>/đêm</span><span
                                            _ngcontent-sjt-c5="" class="strike c-gray-9 ml--6">515,000₫</span></div>
                                    <div _ngcontent-sjt-c5="" class="promo__add mb--6 promo__add mb--6"><a
                                            _ngcontent-sjt-c5="" class="nuxt-link-exact-active nuxt-link-active"
                                            href="/vi/vietnam/lam-dong/da-lat">Đà Lạt</a>, <a _ngcontent-sjt-c5=""
                                            class="nuxt-link-active" href="/vi/vietnam/lam-dong">Lâm Đồng</a>, <a
                                            _ngcontent-sjt-c5="" class="nuxt-link-active" href="/vi/vietnam">Vietnam</a>
                                    </div>
                                    <div _ngcontent-sjt-c5="" class="promo__review">
                                        <div _ngcontent-sjt-c5="" class="star-rating d-inline-block"><svg
                                                _ngcontent-sjt-c5="" class="mr--3 svg-icon svg-fill"
                                                style="width: 14px; height: 14px;" version="1.1" viewBox="0 0 14 14">
                                                <path _ngcontent-sjt-c5="" _fill-rule="evenodd"
                                                    d="M14 5.425c0 .13-.073.27-.219.424l-3.054 3.123.724 4.41c.005.042.008.1.008.177 0 .123-.03.228-.088.313a.292.292 0 0 1-.257.128.658.658 0 0 1-.336-.106L7 11.812l-3.778 2.082a.69.69 0 0 1-.336.106c-.118 0-.206-.043-.265-.128a.538.538 0 0 1-.089-.313 1.5 1.5 0 0 1 .017-.177l.724-4.41L.21 5.849C.07 5.69 0 5.549 0 5.425c0-.217.157-.353.471-.405l4.224-.644L6.588.362C6.694.12 6.832 0 7 0c.168 0 .306.12.412.362l1.893 4.014 4.224.644c.314.052.471.188.471.405z"
                                                    fill="#ffb025" pid="0" stroke="none"></path>
                                            </svg><svg _ngcontent-sjt-c5="" class="mr--3 svg-icon svg-fill"
                                                style="width: 14px; height: 14px;" version="1.1" viewBox="0 0 14 14">
                                                <path _ngcontent-sjt-c5="" _fill-rule="evenodd"
                                                    d="M14 5.425c0 .13-.073.27-.219.424l-3.054 3.123.724 4.41c.005.042.008.1.008.177 0 .123-.03.228-.088.313a.292.292 0 0 1-.257.128.658.658 0 0 1-.336-.106L7 11.812l-3.778 2.082a.69.69 0 0 1-.336.106c-.118 0-.206-.043-.265-.128a.538.538 0 0 1-.089-.313 1.5 1.5 0 0 1 .017-.177l.724-4.41L.21 5.849C.07 5.69 0 5.549 0 5.425c0-.217.157-.353.471-.405l4.224-.644L6.588.362C6.694.12 6.832 0 7 0c.168 0 .306.12.412.362l1.893 4.014 4.224.644c.314.052.471.188.471.405z"
                                                    fill="#ffb025" pid="0" stroke="none"></path>
                                            </svg><svg _ngcontent-sjt-c5="" class="mr--3 svg-icon svg-fill"
                                                style="width: 14px; height: 14px;" version="1.1" viewBox="0 0 14 14">
                                                <path _ngcontent-sjt-c5="" _fill-rule="evenodd"
                                                    d="M14 5.425c0 .13-.073.27-.219.424l-3.054 3.123.724 4.41c.005.042.008.1.008.177 0 .123-.03.228-.088.313a.292.292 0 0 1-.257.128.658.658 0 0 1-.336-.106L7 11.812l-3.778 2.082a.69.69 0 0 1-.336.106c-.118 0-.206-.043-.265-.128a.538.538 0 0 1-.089-.313 1.5 1.5 0 0 1 .017-.177l.724-4.41L.21 5.849C.07 5.69 0 5.549 0 5.425c0-.217.157-.353.471-.405l4.224-.644L6.588.362C6.694.12 6.832 0 7 0c.168 0 .306.12.412.362l1.893 4.014 4.224.644c.314.052.471.188.471.405z"
                                                    fill="#ffb025" pid="0" stroke="none"></path>
                                            </svg><svg _ngcontent-sjt-c5="" class="mr--3 svg-icon svg-fill"
                                                style="width: 14px; height: 14px;" version="1.1" viewBox="0 0 14 14">
                                                <path _ngcontent-sjt-c5="" _fill-rule="evenodd"
                                                    d="M14 5.425c0 .13-.073.27-.219.424l-3.054 3.123.724 4.41c.005.042.008.1.008.177 0 .123-.03.228-.088.313a.292.292 0 0 1-.257.128.658.658 0 0 1-.336-.106L7 11.812l-3.778 2.082a.69.69 0 0 1-.336.106c-.118 0-.206-.043-.265-.128a.538.538 0 0 1-.089-.313 1.5 1.5 0 0 1 .017-.177l.724-4.41L.21 5.849C.07 5.69 0 5.549 0 5.425c0-.217.157-.353.471-.405l4.224-.644L6.588.362C6.694.12 6.832 0 7 0c.168 0 .306.12.412.362l1.893 4.014 4.224.644c.314.052.471.188.471.405z"
                                                    fill="#ffb025" pid="0" stroke="none"></path>
                                            </svg><svg _ngcontent-sjt-c5="" class="mr--3 svg-icon svg-fill"
                                                style="width: 14px; height: 14px;" version="1.1" viewBox="0 0 14 14">
                                                <path _ngcontent-sjt-c5="" _fill-rule="evenodd"
                                                    d="M14 5.425c0 .13-.073.27-.219.424l-3.054 3.123.724 4.41c.005.042.008.1.008.177 0 .123-.03.228-.088.313a.292.292 0 0 1-.257.128.658.658 0 0 1-.336-.106L7 11.812l-3.778 2.082a.69.69 0 0 1-.336.106c-.118 0-.206-.043-.265-.128a.538.538 0 0 1-.089-.313 1.5 1.5 0 0 1 .017-.177l.724-4.41L.21 5.849C.07 5.69 0 5.549 0 5.425c0-.217.157-.353.471-.405l4.224-.644L6.588.362C6.694.12 6.832 0 7 0c.168 0 .306.12.412.362l1.893 4.014 4.224.644c.314.052.471.188.471.405z"
                                                    fill="#ffb025" pid="0" stroke="none"></path>
                                            </svg></div><span _ngcontent-sjt-c5=""
                                            class="promo__review-count p--small">4</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div _ngcontent-sjt-c5="" class="col-xs-6 col-md-3 col-lg-20">
                    <div _ngcontent-sjt-c5="" class="c-product-card--grid">
                        <div _ngcontent-sjt-c5="" class="promo is-relative"><a _ngcontent-sjt-c5="" class=""
                                data-value="34750" href="/vi/rooms/34750" target="_blank">
                                <div _ngcontent-sjt-c5="" class="promo__image">
                                    <div _ngcontent-sjt-c5="" class="promo__image-wrap"><img _ngcontent-sjt-c5=""
                                            class="w--100"
                                            data-src="https://cdn.luxstay.com/rooms/34750/medium/971850bdc8872ed97796.jpg"
                                            elementtiming="product" height="192" lazy="loaded"
                                            src="https://cdn.luxstay.com/rooms/34750/medium/971850bdc8872ed97796.jpg"
                                            width="270"></div>
                                    <div _ngcontent-sjt-c5="" class="is-absolute promo__label-wrap"><span
                                            _ngcontent-sjt-c5="" class="promo__label is-promotion">-18% Hôm nay</span>
                                    </div>
                                </div>
                            </a>
                            <div _ngcontent-sjt-c5="" class="promo__content">
                                <div _ngcontent-sjt-c5="" class="promo__type bold"
                                    style="-webkit-box-orient: vertical;"> Biệt Thự </div>
                                <div _ngcontent-sjt-c5="" class="is-relative"><a _ngcontent-sjt-c5="" class=""
                                        data-value="34750" href="/vi/rooms/34750" id="room-item" target="_blank">
                                        <div _ngcontent-sjt-c5="" class="promo__title extra-bold"
                                            style="-webkit-box-orient: vertical;"><svg _ngcontent-sjt-c5=""
                                                class="is-instant-book mr--6 svg-icon svg-fill"
                                                style="width: 20px; height: 20px;" version="1.1" viewBox="0 0 20 20">
                                                <title _ngcontent-sjt-c5="">Đặt phòng ngay, không cần đợi chủ nhà phê
                                                    duyệt</title>
                                                <defs _ngcontent-sjt-c5="">
                                                    <linearGradient _ngcontent-sjt-c5="" id="svgicon_instant_book_a"
                                                        x1="100%" x2="0%" y1="50%" y2="50%">
                                                        <stop _ngcontent-sjt-c5="" offset="0%" stop-color="#F68A39">
                                                        </stop>
                                                        <stop _ngcontent-sjt-c5="" offset="100%" stop-color="#F65E39">
                                                        </stop>
                                                    </linearGradient>
                                                </defs>
                                                <g _ngcontent-sjt-c5="" fill="none" fill-rule="evenodd">
                                                    <circle _ngcontent-sjt-c5="" cx="10" cy="10"
                                                        fill="url(#svgicon_instant_book_a)" pid="0" r="10"></circle>
                                                    <path _ngcontent-sjt-c5=""
                                                        d="M10.42 15.158l3.037-6.073A.75.75 0 0 0 12.787 8H10V5.177a.75.75 0 0 0-1.42-.335l-3.037 6.073A.75.75 0 0 0 6.213 12H9v2.823a.75.75 0 0 0 1.42.335z"
                                                        fill="#FFF" pid="1"></path>
                                                </g>
                                            </svg> Wolf Villa Đà Lạt - Biệt thự với giường cực lớn và view thung lũng
                                            xanh </div>
                                    </a>
                                    <div _ngcontent-sjt-c5="" class="promo__description my--6 text-lowercase">12 khách ·
                                        3 Phòng ngủ · 3 phòng tắm</div>
                                    <div _ngcontent-sjt-c5="" class="promo__price mb--6"><span _ngcontent-sjt-c5=""
                                            class="extra-bold"><span
                                                _ngcontent-sjt-c5="">2,295,180₫</span>/đêm</span><span
                                            _ngcontent-sjt-c5="" class="strike c-gray-9 ml--6">2,799,000₫</span></div>
                                    <div _ngcontent-sjt-c5="" class="promo__add mb--6 promo__add mb--6"><a
                                            _ngcontent-sjt-c5="" class="nuxt-link-exact-active nuxt-link-active"
                                            href="/vi/vietnam/lam-dong/da-lat">Đà Lạt</a>, <a _ngcontent-sjt-c5=""
                                            class="nuxt-link-active" href="/vi/vietnam/lam-dong">Lâm Đồng</a>, <a
                                            _ngcontent-sjt-c5="" class="nuxt-link-active" href="/vi/vietnam">Vietnam</a>
                                    </div>
                                    <div _ngcontent-sjt-c5="" class="promo__review">
                                        <div _ngcontent-sjt-c5="" class="star-rating d-inline-block"><svg
                                                _ngcontent-sjt-c5="" class="mr--3 svg-icon svg-fill"
                                                style="width: 14px; height: 14px;" version="1.1" viewBox="0 0 14 14">
                                                <path _ngcontent-sjt-c5="" _fill-rule="evenodd"
                                                    d="M14 5.425c0 .13-.073.27-.219.424l-3.054 3.123.724 4.41c.005.042.008.1.008.177 0 .123-.03.228-.088.313a.292.292 0 0 1-.257.128.658.658 0 0 1-.336-.106L7 11.812l-3.778 2.082a.69.69 0 0 1-.336.106c-.118 0-.206-.043-.265-.128a.538.538 0 0 1-.089-.313 1.5 1.5 0 0 1 .017-.177l.724-4.41L.21 5.849C.07 5.69 0 5.549 0 5.425c0-.217.157-.353.471-.405l4.224-.644L6.588.362C6.694.12 6.832 0 7 0c.168 0 .306.12.412.362l1.893 4.014 4.224.644c.314.052.471.188.471.405z"
                                                    fill="#ffb025" pid="0" stroke="none"></path>
                                            </svg><svg _ngcontent-sjt-c5="" class="mr--3 svg-icon svg-fill"
                                                style="width: 14px; height: 14px;" version="1.1" viewBox="0 0 14 14">
                                                <path _ngcontent-sjt-c5="" _fill-rule="evenodd"
                                                    d="M14 5.425c0 .13-.073.27-.219.424l-3.054 3.123.724 4.41c.005.042.008.1.008.177 0 .123-.03.228-.088.313a.292.292 0 0 1-.257.128.658.658 0 0 1-.336-.106L7 11.812l-3.778 2.082a.69.69 0 0 1-.336.106c-.118 0-.206-.043-.265-.128a.538.538 0 0 1-.089-.313 1.5 1.5 0 0 1 .017-.177l.724-4.41L.21 5.849C.07 5.69 0 5.549 0 5.425c0-.217.157-.353.471-.405l4.224-.644L6.588.362C6.694.12 6.832 0 7 0c.168 0 .306.12.412.362l1.893 4.014 4.224.644c.314.052.471.188.471.405z"
                                                    fill="#ffb025" pid="0" stroke="none"></path>
                                            </svg><svg _ngcontent-sjt-c5="" class="mr--3 svg-icon svg-fill"
                                                style="width: 14px; height: 14px;" version="1.1" viewBox="0 0 14 14">
                                                <path _ngcontent-sjt-c5="" _fill-rule="evenodd"
                                                    d="M14 5.425c0 .13-.073.27-.219.424l-3.054 3.123.724 4.41c.005.042.008.1.008.177 0 .123-.03.228-.088.313a.292.292 0 0 1-.257.128.658.658 0 0 1-.336-.106L7 11.812l-3.778 2.082a.69.69 0 0 1-.336.106c-.118 0-.206-.043-.265-.128a.538.538 0 0 1-.089-.313 1.5 1.5 0 0 1 .017-.177l.724-4.41L.21 5.849C.07 5.69 0 5.549 0 5.425c0-.217.157-.353.471-.405l4.224-.644L6.588.362C6.694.12 6.832 0 7 0c.168 0 .306.12.412.362l1.893 4.014 4.224.644c.314.052.471.188.471.405z"
                                                    fill="#ffb025" pid="0" stroke="none"></path>
                                            </svg><svg _ngcontent-sjt-c5="" class="mr--3 svg-icon svg-fill"
                                                style="width: 14px; height: 14px;" version="1.1" viewBox="0 0 14 14">
                                                <path _ngcontent-sjt-c5="" _fill-rule="evenodd"
                                                    d="M14 5.425c0 .13-.073.27-.219.424l-3.054 3.123.724 4.41c.005.042.008.1.008.177 0 .123-.03.228-.088.313a.292.292 0 0 1-.257.128.658.658 0 0 1-.336-.106L7 11.812l-3.778 2.082a.69.69 0 0 1-.336.106c-.118 0-.206-.043-.265-.128a.538.538 0 0 1-.089-.313 1.5 1.5 0 0 1 .017-.177l.724-4.41L.21 5.849C.07 5.69 0 5.549 0 5.425c0-.217.157-.353.471-.405l4.224-.644L6.588.362C6.694.12 6.832 0 7 0c.168 0 .306.12.412.362l1.893 4.014 4.224.644c.314.052.471.188.471.405z"
                                                    fill="#ffb025" pid="0" stroke="none"></path>
                                            </svg><svg _ngcontent-sjt-c5="" class="mr--3 svg-icon svg-fill"
                                                style="width: 14px; height: 14px;" version="1.1" viewBox="0 0 14 14">
                                                <path _ngcontent-sjt-c5="" _fill-rule="evenodd"
                                                    d="M14 5.425c0 .13-.073.27-.219.424l-3.054 3.123.724 4.41c.005.042.008.1.008.177 0 .123-.03.228-.088.313a.292.292 0 0 1-.257.128.658.658 0 0 1-.336-.106L7 11.812l-3.778 2.082a.69.69 0 0 1-.336.106c-.118 0-.206-.043-.265-.128a.538.538 0 0 1-.089-.313 1.5 1.5 0 0 1 .017-.177l.724-4.41L.21 5.849C.07 5.69 0 5.549 0 5.425c0-.217.157-.353.471-.405l4.224-.644L6.588.362C6.694.12 6.832 0 7 0c.168 0 .306.12.412.362l1.893 4.014 4.224.644c.314.052.471.188.471.405z"
                                                    fill="#ffb025" pid="0" stroke="none"></path>
                                            </svg></div><span _ngcontent-sjt-c5=""
                                            class="promo__review-count p--small">3</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div _ngcontent-sjt-c5="" class="col-md-5 search-map__wrapper" style="display: none;">
            <div _ngcontent-sjt-c5="" class="search-map__action bg-white px--12 py--6 rounded"><label
                    _ngcontent-sjt-c5="" class="el-checkbox ml-0" role="checkbox"><span _ngcontent-sjt-c5=""
                        aria-checked="mixed" class="el-checkbox__input"><span _ngcontent-sjt-c5=""
                            class="el-checkbox__inner"></span><input _ngcontent-sjt-c5="" aria-hidden="true"
                            class="el-checkbox__original" type="checkbox" value=""></span><span _ngcontent-sjt-c5=""
                        class="el-checkbox__label"> Tìm kiếm theo di chuyển bản đồ </span></label></div>
        </div>
    </div>
</div>