<div class="btn btn-primary btn-lg btn-flat" style="margin-top: 20px; margin-left: 45px;">
  <a href="/main/userManage/myService/post/index" style="color: aliceblue;">
    <i class="fas fa-plus-circle"></i>
    Add a service
  </a>
</div>
<div _ngcontent-sjt-c5="" class="container container--md">
  <div _ngcontent-sjt-c5="" class="row">
    <div _ngcontent-sjt-c5="" class="col-12">
      <div _ngcontent-sjt-c5="" class="row mt--30">
        <div _ngcontent-sjt-c5="" class="col-lg-12">
          <div _ngcontent-sjt-c5="" class="title">
            <h2 _ngcontent-sjt-c5="" class="mb--0 p--giant">{{view.length}} services are available</h2>
          </div>
        </div>
      </div>
      <div _ngcontent-sjt-c5="" class="row">
        <div _ngcontent-sjt-c5="" *ngFor="let item of view, let i = index" class="col-md-3">
          <div _ngcontent-sjt-c5="" class="c-product-card--grid">
            <div _ngcontent-sjt-c5="" class="promo is-relative"><a _ngcontent-sjt-c5="" class="" data-value="23052">
                <div _ngcontent-sjt-c5="" class="promo__image">
                  <div _ngcontent-sjt-c5="" class="promo__image-wrap img-in-view"><img _ngcontent-sjt-c5=""
                      class="w--100" [src]="item.avtService" width="270">
                      <button class="btn btn-primary btn-in-image01" (click)="showEditModal(i)"><i
                        class="fa fa-pencil-square-o"></i></button>
                      <button class="btn btn-danger btn-in-image02" (click)="deleteItem(item.id,item.isProvider, i)"><i
                          class="fa fa-trash"></i></button>
                  </div>
                  

                </div>
              </a>
              <div _ngcontent-sjt-c5="" class="promo__content">
                <div _ngcontent-sjt-c5="" class="promo__type bold" style="-webkit-box-orient: vertical;">
                  {{item.serviceName}} </div>
                <div _ngcontent-sjt-c5="" class="is-relative"><a _ngcontent-sjt-c5="" class="" data-value="23052"
                    href="/vi/rooms/23052" id="room-item" target="_blank">
                    <div _ngcontent-sjt-c5="" class="promo__title extra-bold" style="-webkit-box-orient: vertical;"><svg
                        _ngcontent-sjt-c5="" class="is-instant-book mr--6 svg-icon svg-fill"
                        style="width: 20px; height: 20px;" version="1.1" viewBox="0 0 20 20">
                        <defs _ngcontent-sjt-c5="">
                          <linearGradient _ngcontent-sjt-c5="" id="svgicon_instant_book_a" x1="100%" x2="0%" y1="50%"
                            y2="50%">
                            <stop _ngcontent-sjt-c5="" offset="0%" stop-color="#F68A39">
                            </stop>
                            <stop _ngcontent-sjt-c5="" offset="100%" stop-color="#F65E39">
                            </stop>
                          </linearGradient>
                        </defs>
                        <g _ngcontent-sjt-c5="" fill="none" fill-rule="evenodd">
                          <circle _ngcontent-sjt-c5="" cx="10" cy="10" fill="url(#svgicon_instant_book_a)" pid="0"
                            r="10"></circle>
                          <path _ngcontent-sjt-c5=""
                            d="M10.42 15.158l3.037-6.073A.75.75 0 0 0 12.787 8H10V5.177a.75.75 0 0 0-1.42-.335l-3.037 6.073A.75.75 0 0 0 6.213 12H9v2.823a.75.75 0 0 0 1.42.335z"
                            fill="#FFF" pid="1"></path>
                        </g>
                      </svg></div>
                  </a>

                  <div _ngcontent-sjt-c5="" class="promo__review">
                    <div _ngcontent-sjt-c5="" class="star-rating d-inline-block"><svg _ngcontent-sjt-c5=""
                        class="mr--3 svg-icon svg-fill" style="width: 14px; height: 14px;" version="1.1"
                        viewBox="0 0 14 14">
                        <path _ngcontent-sjt-c5="" _fill-rule="evenodd"
                          d="M14 5.425c0 .13-.073.27-.219.424l-3.054 3.123.724 4.41c.005.042.008.1.008.177 0 .123-.03.228-.088.313a.292.292 0 0 1-.257.128.658.658 0 0 1-.336-.106L7 11.812l-3.778 2.082a.69.69 0 0 1-.336.106c-.118 0-.206-.043-.265-.128a.538.538 0 0 1-.089-.313 1.5 1.5 0 0 1 .017-.177l.724-4.41L.21 5.849C.07 5.69 0 5.549 0 5.425c0-.217.157-.353.471-.405l4.224-.644L6.588.362C6.694.12 6.832 0 7 0c.168 0 .306.12.412.362l1.893 4.014 4.224.644c.314.052.471.188.471.405z"
                          fill="#ffb025" pid="0" stroke="none"></path>
                      </svg><svg _ngcontent-sjt-c5="" class="mr--3 svg-icon svg-fill" style="width: 14px; height: 14px;"
                        version="1.1" viewBox="0 0 14 14">
                        <path _ngcontent-sjt-c5="" _fill-rule="evenodd"
                          d="M14 5.425c0 .13-.073.27-.219.424l-3.054 3.123.724 4.41c.005.042.008.1.008.177 0 .123-.03.228-.088.313a.292.292 0 0 1-.257.128.658.658 0 0 1-.336-.106L7 11.812l-3.778 2.082a.69.69 0 0 1-.336.106c-.118 0-.206-.043-.265-.128a.538.538 0 0 1-.089-.313 1.5 1.5 0 0 1 .017-.177l.724-4.41L.21 5.849C.07 5.69 0 5.549 0 5.425c0-.217.157-.353.471-.405l4.224-.644L6.588.362C6.694.12 6.832 0 7 0c.168 0 .306.12.412.362l1.893 4.014 4.224.644c.314.052.471.188.471.405z"
                          fill="#ffb025" pid="0" stroke="none"></path>
                      </svg><svg _ngcontent-sjt-c5="" class="mr--3 svg-icon svg-fill" style="width: 14px; height: 14px;"
                        version="1.1" viewBox="0 0 14 14">
                        <path _ngcontent-sjt-c5="" _fill-rule="evenodd"
                          d="M14 5.425c0 .13-.073.27-.219.424l-3.054 3.123.724 4.41c.005.042.008.1.008.177 0 .123-.03.228-.088.313a.292.292 0 0 1-.257.128.658.658 0 0 1-.336-.106L7 11.812l-3.778 2.082a.69.69 0 0 1-.336.106c-.118 0-.206-.043-.265-.128a.538.538 0 0 1-.089-.313 1.5 1.5 0 0 1 .017-.177l.724-4.41L.21 5.849C.07 5.69 0 5.549 0 5.425c0-.217.157-.353.471-.405l4.224-.644L6.588.362C6.694.12 6.832 0 7 0c.168 0 .306.12.412.362l1.893 4.014 4.224.644c.314.052.471.188.471.405z"
                          fill="#ffb025" pid="0" stroke="none"></path>
                      </svg><svg _ngcontent-sjt-c5="" class="mr--3 svg-icon svg-fill" style="width: 14px; height: 14px;"
                        version="1.1" viewBox="0 0 14 14">
                        <path _ngcontent-sjt-c5="" _fill-rule="evenodd"
                          d="M14 5.425c0 .13-.073.27-.219.424l-3.054 3.123.724 4.41c.005.042.008.1.008.177 0 .123-.03.228-.088.313a.292.292 0 0 1-.257.128.658.658 0 0 1-.336-.106L7 11.812l-3.778 2.082a.69.69 0 0 1-.336.106c-.118 0-.206-.043-.265-.128a.538.538 0 0 1-.089-.313 1.5 1.5 0 0 1 .017-.177l.724-4.41L.21 5.849C.07 5.69 0 5.549 0 5.425c0-.217.157-.353.471-.405l4.224-.644L6.588.362C6.694.12 6.832 0 7 0c.168 0 .306.12.412.362l1.893 4.014 4.224.644c.314.052.471.188.471.405z"
                          fill="#ffb025" pid="0" stroke="none"></path>
                      </svg><svg _ngcontent-sjt-c5="" class="mr--3 svg-icon svg-fill" style="width: 14px; height: 14px;"
                        version="1.1" viewBox="0 0 14 14">
                        <path _ngcontent-sjt-c5="" _fill-rule="evenodd"
                          d="M14 5.425c0 .13-.073.27-.219.424l-3.054 3.123.724 4.41c.005.042.008.1.008.177 0 .123-.03.228-.088.313a.292.292 0 0 1-.257.128.658.658 0 0 1-.336-.106L7 11.812l-3.778 2.082a.69.69 0 0 1-.336.106c-.118 0-.206-.043-.265-.128a.538.538 0 0 1-.089-.313 1.5 1.5 0 0 1 .017-.177l.724-4.41L.21 5.849C.07 5.69 0 5.549 0 5.425c0-.217.157-.353.471-.405l4.224-.644L6.588.362C6.694.12 6.832 0 7 0c.168 0 .306.12.412.362l1.893 4.014 4.224.644c.314.052.471.188.471.405z"
                          fill="#ffb025" pid="0" stroke="none"></path>
                      </svg></div><span _ngcontent-sjt-c5="" class="promo__review-count p--small">2</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
    <div _ngcontent-sjt-c5="" class="col-md-5 search-map__wrapper" style="display: none;">
      <div _ngcontent-sjt-c5="" class="search-map__action bg-white px--12 py--6 rounded"><label _ngcontent-sjt-c5=""
          class="el-checkbox ml-0" role="checkbox"><span _ngcontent-sjt-c5="" aria-checked="mixed"
            class="el-checkbox__input"><span _ngcontent-sjt-c5="" class="el-checkbox__inner"></span><input
              _ngcontent-sjt-c5="" aria-hidden="true" class="el-checkbox__original" type="checkbox"
              value=""></span><span _ngcontent-sjt-c5="" class="el-checkbox__label"> Tìm kiếm theo di chuyển bản đồ
          </span></label></div>
    </div>
  </div>
</div>

<!-- Edit -->
<div bsModal #modalAddEdit="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Thêm/Sửa dịch vụ</h4>
        <button type="button" class="close pull-right" (click)="modalAddEdit.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal form-label-left" novalidate #addEditForm="ngForm"
          (ngSubmit)="saveChange(addEditForm.valid)" *ngIf="entity">
          <div class="form-group">
            <div class="col-md-6 col-sm-6 col-xs-12">
              <label class="control-label control-label col-md-3 col-sm-3 col-xs-12">Tên dịch vụ</label>
              <div>
                <input type="hidden" [(ngModel)]="entity.id" name="id" />
                <input type="text" #serviceName="ngModel" [(ngModel)]="entity.serviceName" required minlength="3"
                  name="serviceName" class="form-control">
                <small [hidden]="serviceName.valid || (serviceName.pristine && !addEditForm.submitted)"
                  class="text-danger">
                  Bạn phải nhập tên ít nhất 3 ký tự
                </small>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-6 col-sm-6 col-xs-12">
              <label class="control-label">Chọn loại dịch vụ</label>
              <div>
                <select class="form-control" id="sel1" (change)="filterUserService($event.target.value)">
                  <option value="0">User</option>
                  <option value="1">Provider</option>
                </select>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <label class="control-label">Tác giả</label>
              <div *ngIf="kindOfStyle==1">
                <input type="text" #providerName="ngModel" [(ngModel)]="entity.providerName" [typeahead]="providerState"
                  minlength="3" name="providerName" class="form-control" autocomplete="off"
                  [disabled]="entity.id!=undefined">
                <small [hidden]="!providerName.invalid || (providerName.pristine && !addEditForm.submitted)"
                  class="text-danger">
                  Bạn phải nhập tên ít nhất 3 ký tự
                </small>
                <small [hidden]="checkProviderName(providerName)" class="text-danger">
                  Không tìm thấy provider bạn đã nhập
                </small>
              </div>
              <div *ngIf="kindOfStyle==0">
                <input type="text" #userName="ngModel" [(ngModel)]="entity.userName" [typeahead]="userState"
                  minlength="3" name="userName" class="form-control" autocomplete="off"
                  [disabled]="entity.id!=undefined">
                <small [hidden]="!userName.invalid || (userName.pristine && !addEditForm.submitted)"
                  class="text-danger">
                  Bạn phải nhập tên ít nhất 3 ký tự
                </small>
                <small [hidden]="checkUserName(userName)" class="text-danger">
                  Không tìm thấy tên bạn đã nhập
                </small>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-6 col-sm-6 col-xs-12">
              <label class="control-label">Chọn category</label>
              <div>
                <input type="text" #categoryName="ngModel" [(ngModel)]="entity.categoryName" required
                  [typeahead]="categoryState" minlength="3" name="categoryName" class="form-control" autocomplete="off"
                  [disabled]="entity.id!=undefined">
                <small [hidden]="!categoryName.invalid || (categoryName.pristine && !addEditForm.submitted)"
                  class="text-danger">
                  Bạn phải nhập tên ít nhất 3 ký tự
                </small>
                <small [hidden]="checkCategoryName(categoryName)" class="text-danger">
                  Không tìm thấy tên bạn đã nhập
                </small>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <label class="control-label">Chọn giá dịch vụ</label>
              <div>
                <input type="text" #priceOfService="ngModel" [(ngModel)]="entity.priceOfService" required minlength="3"
                  name="priceOfService" class="form-control" [disabled]="entity.id!=undefined">
                <small [hidden]="!priceOfService.invalid || (priceOfService.pristine && !addEditForm.submitted)"
                  class="text-danger">
                  Bạn phải nhập tên ít nhất 3 ký tự
                </small>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Tag</label>
            <div class="col-md-12 col-sm-12 col-xs-12">
              <input type="text" #tagName="ngModel" ngModel [typeahead]="tagState" name="tagName" class="form-control"
                autocomplete="off">
              <button type="button" (click)="onEnter(tagName.value)">Thêm tag</button>
            </div>
          </div>
          <div class="form-group">
            <span *ngFor="let item of listTag,let i =index" style="padding-right:10px">
              <button (click)="removeIndex(i)" class="btn btn-success">{{item.tagName}} <span
                  class="badge badge-light">X</span></button>
            </span>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Mô tả</label>
            <div class="col-md-12 col-sm-12 col-xs-12">
              <editor #description="ngModel" [(ngModel)]="entity.description" name="description"
                apiKey="ztc2nqv57d595lqblftjrhjfgqax9nsxltybl49jl02zys0x" [init]="{
                                    height: 500,
                                    menubar: true,
                                    plugins: [
                                      'advlist autolink lists link image charmap print',
                                      'preview anchor searchreplace visualblocks code',
                                      'fullscreen insertdatetime media table paste',
                                      'help wordcount'
                                    ],
                                    toolbar:
                                      'undo redo | formatselect | bold italic | \
                                      alignleft aligncenter alignright alignjustify | \
                                      bullist numlist outdent indent | help'
                                  }"></editor>
              <small [hidden]="description.valid || (description.pristine && !addEditForm.submitted)"
                class="text-danger">
                Bạn phải nhập tên ít nhất 3 ký tự
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Image</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <!-- <input type="file" #imgPath name="imgPath" class="form-control">
              <p class="help-block label label-danger"> chỉ hỗ trợ định dạng *.png, *.jpg, *.jpeg </p>
              <input type="hidden" [(ngModel)]="entity.imgPath" name="imgPath" />
            </div>

            <div class="col-md-3 col-sm-3 col-xs-12" *ngIf="entity.imgPath">
              <img [src]="entity.imgPath" width="128" /> -->
              <span (click)="showImageModel()" class="btn btn-success">Thêm hình ảnh</span>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Trang thái</label>
            <span *ngIf="entity.status==1"><span class="badge badge-success">Approved</span></span>
            <span *ngIf="entity.status==0"><span class="badge badge-danger">Rejected</span></span>
            <span *ngIf="entity.status==2"><span class="badge badge-secondary">Pending</span></span>
          </div>
          <div class="ln_solid"></div>
          <div class="form-group">
            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
              <button type="button" (click)="modalAddEdit.hide()" class="btn btn-primary">Hủy
                bỏ</button>
              <button type="submit" class="btn btn-success" [disabled]="!addEditForm.form.valid ">Cập
                nhật</button>
              <span *ngIf="entity.id !=undefined">
                <button type="button" *ngIf="entity.status!=1" class="btn btn-info" (click)="approveProvider()">Chấp
                  nhận</button>
                <button type="button" *ngIf="entity.status!=0" class="btn btn-danger" (click)="showRejectProvider()">Từ
                  chối</button>
              </span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div bsModal #modalReason="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">

  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Lý do</h4>
        <button type="button" class="close pull-right" (click)="modalReason.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal form-label-left" novalidate #addReasonForm="ngForm" (ngSubmit)="rejectProvider()"
          *ngIf="entity">
          <div class="form-group">
            <div class="col-md-9 col-sm-9 col-xs-12">
              <textarea type="text" #reason="ngModel" [(ngModel)]="entity.reason" required minlength="3" name="reason"
                class="form-control"></textarea>
              <small [hidden]="reason.valid || (reason.pristine)" class="text-danger">
                Bạn phải nhập tên ít nhất 3 ký tự
              </small>
            </div>
          </div>
          <button type="submit" class="btn btn-success">Cập
            nhật</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div bsModal #modalImage="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">

  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Hình ảnh</h4>
        <button type="button" class="close pull-right" (click)="modalImage.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span class="text-danger" *ngIf="disableIsAvatar() && entity">Xin vui lòng chọn một hình ảnh làm ảnh đại
          diện</span>
        <form class="form-horizontal form-label-left" novalidate #addImageForm="ngForm" *ngIf="entity">
          <div *ngFor="let atag of listImage, let i = index">
            <div class="form-group row">
              <div class="col-md-6 col-sm-6 col-xs-12">
                <label class="control-label">Chọn hình ảnh</label>
                <input type="checkbox" #isAvatar="ngModel" [(ngModel)]="atag.isAvatar" [disabled]="!disableIsAvatar()"
                  name="isAvatar">
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Image</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="file" #imgPath name="imgPath" class="form-control"
                    (change)="selectChangeFile($event.target.files,i)">
                  <p class="help-block label label-danger"> chỉ hỗ trợ định dạng *.png, *.jpg, *.jpeg </p>
                  <input type="hidden" [(ngModel)]="atag.dataImage" name="imgPath" />
                  <button type="button" class="btn btn-danger" (click)="removeImage(i)"><i
                      class="fa fa-trash"></i></button>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12" *ngIf="atag.path">
                  <img [src]="atag.path" width="128px" />
                </div>
              </div>
            </div>
          </div>
          <button class="btn btn-secondary" (click)="addImage()">Thêm hình ảnh</button>

        </form>
      </div>
    </div>
  </div>
</div>