<div class="main-right">
    <div class="row ">
        <div class=" col-12" style="margin-bottom: 100px;">
            <div class=" card card-chart top-right">
                <div class=" card-header ">
                    <div class=" row">
                        <div class=" col-sm-6 text-left">
                            <h5 class=" card-category">Top viewer of a month</h5>
                            <h2 class=" card-title">Chart of view</h2>
                        </div>

                    </div>
                </div>
                <div class=" card-body">
                    <div class=" chart-area">
                        <div class="chartjs-size-monitor">
                            <div class="chartjs-size-monitor-expand">
                                <div class=""></div>
                            </div>
                            <div class="chartjs-size-monitor-shrink">
                                <div class=""></div>
                            </div>
                        </div><canvas id="chartBig1" width="1498" height="275" class="chartjs-render-monitor"
                            style="display: block; height: 100px; width: 1199px;"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class=" col-lg-3 col-md-6">
            <div class=" card card-stats">
                <div class=" card-body">
                    <div class=" row">
                        <div class=" col-5">
                            <div class=" info-icon text-center icon-warning"><i class="fas fa-comments"></i>
                            </div>
                        </div>
                        <div class=" col-7">
                            <div class=" numbers">
                                <p class=" card-category">Number</p>
                                <h3 class=" card-title">150GB</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" card-footer">
                    <hr>
                    <div class=" stats"><i class="fas fa-redo-alt"></i> Update Now </div>
                </div>
            </div>
        </div>
        <div class=" col-lg-3 col-md-6">
            <div class=" card card-stats">
                <div class=" card-body">
                    <div class=" row">
                        <div class=" col-5">
                            <div class=" info-icon text-center icon-primary"><i class="far fa-star"></i>
                            </div>
                        </div>
                        <div class=" col-7">
                            <div class=" numbers">
                                <p class=" card-category">Followers</p>
                                <h3 class=" card-title">+45k</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" card-footer">
                    <hr>
                    <div class=" stats"><i class="fas fa-bell"></i> Last Research </div>
                </div>
            </div>
        </div>
        <div class=" col-lg-3 col-md-6">
            <div class=" card card-stats">
                <div class=" card-body">
                    <div class=" row">
                        <div class=" col-5">
                            <div class=" info-icon text-center icon-success"><i class="far fa-user"></i>
                            </div>
                        </div>
                        <div class=" col-7">
                            <div class=" numbers">
                                <p class=" card-category">Users</p>
                                <h3 class=" card-title">150,000</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" card-footer">
                    <hr>
                    <div class=" stats"><i class="fas fa-trophy"></i> Customers feedback </div>
                </div>
            </div>
        </div>
        <div class=" col-lg-3 col-md-6">
            <div class=" card card-stats">
                <div class=" card-body">
                    <div class=" row">
                        <div class=" col-5">
                            <div class=" info-icon text-center icon-danger"><i class="fas fa-bug"></i>
                            </div>
                        </div>
                        <div class=" col-7">
                            <div class=" numbers">
                                <p class=" card-category">Errors</p>
                                <h3 class=" card-title">12</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" card-footer">
                    <hr>
                    <div class=" stats"><i class="fas fa-stopwatch"></i> In the last hours </div>
                </div>
            </div>
        </div>
    </div>
    <div class=" card low-right">
        <div class=" card-header">
            
        </div>
        <div class=" card-body">
            <div class=" row">
                <div class=" col-lg-12">
                    <div class="table-responsive ps">
                        <a [routerLink]="['role']"><span class="sidebar-mini-icon"></span><span
                                class="sidebar-normal"></span></a>
                        <router-outlet></router-outlet>
                        <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                            <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                        </div>
                        <div class="ps__rail-y" style="top: 0px; right: 0px;">
                            <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
