<div class="page-title">
  <div class="title_left">
      <h3>Danh sách các danh mục</h3>
  </div>
  <!-- Tìm kiếm danh mục -->
  <div class="title_right">
      <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
          <div class="input-group">
              <input type="text" class="form-control" name="filter" (keyup.enter)="loadData()" [(ngModel)]="filter"
                  placeholder="Gõ tên danh muc...">
              <span class="input-group-btn">
                  <button class="btn btn-default" (click)="loadData()" type="button">Tìm!</button>
              </span>
          </div>
      </div>
  </div>
</div>
<div class="clearfix"></div>
<!-- Xuat cac danh muc -->
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
          <div class="x_title">
              <ul class="nav navbar-right panel_toolbox">
                  <li>
                      <button class="btn btn-success" *ngIf="permission.canCreate" (click)="showAddModal()">Thêm
                          mới</button>
                  </li>
              </ul>
              <div class="clearfix"></div>
          </div>

          <!-- table of category -->
          <div class=" card-body">
            <div class="table-responsive ps">
              <table class=" table">
                <thead class=" text-primary">
                  <tr>
                    <th class=" text-center">id</th>
                    <th>Name</th>
                    <th>Vietnamese name</th>
                    <th>Description</th>
                    <th class=" text-right">Actions</th>
                  </tr>
                </thead>
                <tbody *ngIf="permission.canRead">
                  <tr *ngFor="let category of categories">
                    <td class=" text-center">
                      {{category.id}}
                    </td>
                    <td>{{category.categoryName}}</td>
                    <td>{{category.nameVietnamese}}</td>
                    <td class=" text-left">
                      {{category.description}}
                    </td>
                    <td class=" text-right">
                        <button *ngIf="category.name != 'Admin' && permission.canUpdate" class=" btn btn-success btn-link btn-icon btn-sm btn-simple" (click)="showEditModal(category.id)"
                        tooltip="Refresh" type="button" aria-describedby="tooltip-6"><i class="fas fa-pencil-alt"></i></button>
                        <button *ngIf="category.name != 'Admin' && permission.canUpdate" class=" btn btn-danger btn-link btn-icon btn-sm btn-simple" (click)="deleteItem(category.id)" 
                         tooltip="Delete" type="button"
                        aria-describedby="tooltip-7"><i class="fas fa-trash-alt"></i></button></td>
                  </tr>
                </tbody>
              </table>
              <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
              </div>
              <div class="ps__rail-y" style="top: 0px; right: 0px;">
                <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div>
              </div>
            </div>
          </div>
      </div>
  </div>
</div>
<!-- Them danh muc moi -->
<div bsModal #modalAddEdit="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title pull-left">Thêm/Sửa quyền</h4>
              <button type="button" class="close pull-right" (click)="modalAddEdit.hide()" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <form class="form-horizontal form-label-left" novalidate #addEditForm="ngForm"
                  (ngSubmit)="saveChange(addEditForm.valid)" *ngIf="entity">
                  <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12">Tên danh mục</label>
                      <div class="col-md-9 col-sm-9 col-xs-12">
                          <input type="hidden" [(ngModel)]="entity.id" name="id" />
                          <input type="text" #categoryName="ngModel" [(ngModel)]="entity.categoryName" required minlength="3"
                              name="categoryName" class="form-control">
                          <small [hidden]="categoryName.valid || (categoryName.pristine && !addEditForm.submitted)"
                              class="text-danger">
                              Bạn phải nhập tên ít nhất 3 ký tự
                          </small>
                      </div>
                  </div>
                  <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12">Tên tiếng việt</label>
                      <div class="col-md-9 col-sm-9 col-xs-12">
                          <input type="hidden" [(ngModel)]="entity.nameVietnamese" name="nameVietnamese" />
                          <input type="text" #nameVietnamese="ngModel" [(ngModel)]="entity.nameVietnamese" required minlength="3"
                              name="nameVietnamese" class="form-control">
                          <small [hidden]="nameVietnamese.valid || (nameVietnamese.pristine && !addEditForm.submitted)"
                              class="text-danger">
                              Bạn phải nhập tên ít nhất 3 ký tự
                          </small>
                      </div>
                  </div>
                  <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12">Mô tả </label>
                      <div class="col-md-9 col-sm-9 col-xs-12">
                          <textarea class="form-control" #description="ngModel" required
                              [(ngModel)]="entity.description" name="description" rows="3"></textarea>
                          <small [hidden]="description.valid || (description.pristine && !addEditForm.submitted)"
                              class="text-danger">
                              Bạn phải nhập mô tả
                          </small>
                      </div>
                  </div>
                  <div class="ln_solid"></div>
                  <div class="form-group">
                      <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                          <button type="button" (click)="modalAddEdit.hide()" class="btn btn-primary">Hủy bỏ</button>
                          <button type="submit" class="btn btn-success" [disabled]="!addEditForm.form.valid">Cập
                              nhật</button>
                      </div>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>