<div class="register-title">
    <div class="main-titlte">
        <p>
        </p>
        <h2>Welcome to register page, enter all information below here !</h2>
        <p></p>
    </div>
</div>
<div class="section">
    <div class="container container--sm">
        <div class="row">
            <div class="col-md-8 col-xs-12 last-xs first-md">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="media"><img src="../../assets/images/coins.jpg" width="65" height="70">
                            <h3 class="media__title">Tích điểm nhanh chóng</h3>
                            <p class="media__content m--0">Sử dụng các dịch vụ của chúng tôi để nhận được tích điểm và các ưu đãi khác</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="media"><img src="../../assets/images/topsale.png" width="55" height="70">
                            <h3 class="media__title">Tiện ích thông minh</h3>
                            <p class="media__content m--0">Kiểm tra tình trạng và các đánh giá của các dịch vụ để được phục vụ tốt hơn nữa</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="media"><img src="../../assets/images/ewallet.png" width="60" height="70">
                            <h3 class="media__title">Thanh toán trực tiếp</h3>
                            <p class="media__content m--0">Thanh toán trực tiếp khi sử dụng dịch vụ.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="media"><img src="../../assets/images/backpack.jpg" width="55" height="70">
                            <h3 class="media__title">Ưu đãi mỗi ngày</h3>
                            <p class="media__content m--0">Nhận thông báo ưu đãi từ các dịch vụ bạn đã theo dõi với giá cả và chất lượng tốt nhất.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12 first-xs">
                <div class="account">
                    <form autocomplete="off">
                        <h3 class="account__title">Đăng ký thành viên</h3>
                        <div><label class="input-group__label bold is-block">Địa chỉ email</label>
                            <div class="input-group__icon is-relative">
                                <div class="input-group">
                                    <div class="input-group__icon is-relative"><input name="email" type="text"
                                            class="input mt--0" aria-required="true" aria-invalid="false"> <span
                                            class="is-absolute input-icon"><i class="far fa-envelope"></i></span>
                                        <span>
                                            <!---->
                                            <!----></span></div>
                                </div>
                                <div class="input-group"><label class="input-group__label bold is-block">Tên</label>
                                    <input name="first_name" type="text" class="input" aria-required="true"
                                        aria-invalid="false"> <span>
                                        <!---->
                                        <!----></span></div>
                                <div class="input-group"><label class="input-group__label bold is-block">Họ và tên
                                        đệm</label> <input name="last_name" type="text" class="input"
                                        aria-required="true" aria-invalid="false"> <span>
                                        <!---->
                                        <!----></span></div>
                                <div class="input-group mb--18"><label class="input-group__label is-block"><span class="bold">Mật
                                            khẩu</span> <span class="c-gray-9">(Tối thiểu 8 ký
                                            tự)</span></label>
                                    <div class="input-group input-group__icon is-relative"><input name="password" type="password"
                                            placeholder="Mật khẩu" autocomplete="password" class="input"
                                            aria-required="true" aria-invalid="false"> <span
                                            class="is-absolute input-icon"><i class="fas fa-unlock-alt"></i></span> <span>
                                            <!---->
                                            <!----></span></div>
                                </div>
                                <div><label class="input-group input-group__label is-block"><span class="bold">Xác nhận mật khẩu
                                            mới</span></label>
                                    <div class="input-group__icon is-relative"><input name="new_password_confirm"
                                            data-vv-as="Xác nhận mật khẩu mới" type="password" class="input"
                                            aria-required="false" aria-invalid="false"> <span
                                            class="is-absolute input-icon"><i class="fas fa-unlock-alt"></i></span> <span>
                                            <!---->
                                            <!----></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="account__body"><button type="submit"
                                class="account__btn btn btn-grad--primary btn--shadow btn--md btn--radius btn--full bold">Đăng
                                ký</button>
                            <div class="center-xs">
                                Bạn đã có tài khoản?
                                <a href="/login"><span class="text-orange bold" style="cursor: pointer;">Đăng nhập</span></a></div>
                            <div class="caption center-xs">
                                Tôi đồng ý với
                                <a href="/vi/privacy-policy" target="_blank" rel="noopener" class="bold">Bảo mật</a>
                                và
                                <a href="/vi/tos" rel="noopener" target="_blank" class="bold">Điều khoản hoạt
                                    động</a> của trang web.
                            </div>
                            <div class="account__3rd">
                                <div>
                                    <div class="btn btn-outline--secondary btn--md btn--radius btn--full is-relative">
                                        <span>Đăng nhập với Facebook</span> <i class="fab fa-facebook-square" style="float: right; position: absolute; top: 40%; color: blue;"></i></div>
                                </div>
                                <div class="mt-2">
                                    <div id="g-signin-btn"
                                        class="btn btn-outline--secondary btn--md btn--radius btn--full is-relative">
                                        <span>Đăng nhập với Google</span> <svg version="1.1" viewBox="0 0 16 16"
                                            class="is-absolute svg-icon svg-fill">
                                            
                                        </svg></div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>