    <!-- navigation -->
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
      <div class="container-fluid">
          <!-- logo -->
          <a class="navbar-branch" href="#">
              <img class="logo" src="../../../assets/images/logovl.jpg" height="50px;">
          </a>
          <!-- search bar -->
          <form class="form-inline my-2 my-lg-0 " style="margin-left: 20px;">
              <input class="form-control mr-sm-2" type="search" placeholder="Nhập từ khóa" aria-label="Search" (keyup)="dataSearchBinding($event.target.value)">
              <button class="btn btn-outline-success my-2 my-sm-0 search-button" type="submit"><a [routerLink]="['/main/listOfItem', searchData]">Tìm kiếm</a></button>
          </form>
          <!-- menu when responsive -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                      <a href="/main/userManage/userProfile/index" class="nav-link active">Quản lý</a>
                  </li>
                  <li class="nav-item">
                      <a href="/register" class="nav-link">Đăng kí</a>
                  </li>
                  <li class="nav-item" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <a (click)="logout()" class="nav-link">Xin chào {{user.fullName}}</a>
                      
                  </li>
                  
              </ul>
          </div>
      </div>
  </nav>