    <!-- navigation -->
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
      <div class="container-fluid">
          <!-- logo -->
          <a class="navbar-branch" href="#">
              <img class="logo" src="../../../assets/images/logovl.jpg" height="50px;">
          </a>
          <!-- search bar -->
          <form class="form-inline my-2 my-lg-0 " style="margin-left: 20px;">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0 search-button" type="submit">Search</button>
          </form>
          <!-- menu when responsive -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                      <a href="#" class="nav-link active">Host</a>
                  </li>
                  <li class="nav-item">
                      <a href="/register" class="nav-link">Đăng kí</a>
                  </li>
                  <li class="nav-item">
                      <a href="/login" class="nav-link">Đăng nhập</a>
                  </li>
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Ngôn ngữ
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown"
                          style="background-color: rgba(82, 64, 120);">
                          <a class="dropdown-item" href="#">Tiếng việt</a>
                          <a class="dropdown-item" href="#">Tiếng Anh</a>
                          <a class="dropdown-item" href="#">Tiếng Khựa</a>
                      </div>
                  </li>
              </ul>
          </div>
      </div>
  </nav>