@import url('https://fonts.google.com/specimen/Gayathri');
html, body{
    width: 100%;
    height: 100%;
    font-family: Gayathri;
    font-size: 18px;
}
.navbar{
    background-color: rgba(82, 64, 120, 0.8) !important;
}
.logo{
    color: rgba(82, 64, 120, 0.8) !important;
}

.navbar li a{
    color: white !important;
}

.navbar li a:hover{
    color: black !important;
}

.search-button{
    color: white;
}


.search-button:hover{
    background-color: black;
}

.banner{
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.container{
    width: 100%;
    margin: 0 auto;

}
.intro-img{
    margin-left: 10px;
    width: 140px;
    height: auto;
}
.introduce-content{
    margin-top: 100px;
}

.introduce{
    margin-top: 100px;
}


.title-1{
    margin-top: 20px;
    margin-left: 20px;
    font-size: 1.2rem;
}
.title-2{
    margin: 0;
    font-size: 0.9rem;
    opacity: 0.5;
    margin-left: 20px;

}
.outside{
    box-shadow: 0 3px 10px rgba(0,0,0,.1);
    border-radius: 15px;
    align-content: center;
    width: 100px;
}

.body-part-1{
    margin-top: 100px;
}

.outside-1{
    margin-top: 50px;
    position: relative;
    display: inline-block;
}
.image-part-1{
    width: 250px;
    margin: 0;
    padding: 0;
}
.image-des{
    color: White;
    position: absolute;
    top: 180px;
    left: 70px;
    font-size: 30px;
}

.slick-next, .slick-prev {
    background: #fff !important;
    border: none !important;
}

.slick-next {
    right: -15px !important;
}

.slick-next, .slick-prev {
    position: absolute !important;
    display: block !important;
    line-height: 0 !important;
    font-size: 0 !important;
    cursor: pointer !important;
    color: black !important;
    top: 50% !important;
    -webkit-transform: translateY(-50%) !important;
    transform: translateY(-50%) !important;
    padding: 0 !important;
    outline: none !important;
    border: 1px solid #e6e6e6 !important;
    box-shadow: 0 0 7px -4px #000 !important;
    width: 56px !important;
    height: 56px !important;
    border-radius: 56px !important;
    transition: all .3s ease-in-out !important;
    z-index: 1 !important;
    color: rgba(0, 0, 0, 0.2);
}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
    font-family: inherit;
    border: 0;
}

@media (min-width: 992px){
    .slick-slide {
        padding-left: .5rem;
        padding-right: .5rem;
    }
}

.slick-next:before, .slick-prev:before {
    font-family: Luxstay-icon;
    font-size: 1.4rem;
    color: #000;
}


.slick-next:before, .slick-prev:before {
    font-family: slick !important;
    font-size: 20px !important;
    line-height: 1 !important;
    transition: all .3s !important;
    color: #222 !important;
}

.slick-next:before {
    content: ">" !important;

}
 .slick-prev:before{
    content: "<" !important;
 }

*, :after, :before {
    box-sizing: inherit;
}

.is-relative {
    position: relative;
}

a {
    color: #222;
    text-decoration: none;
    transition: all .3s;
}

a:hover {
    color: #222;
    text-decoration: none;
    transition: all .3s;
}

[lazy=loaded] {
    -webkit-animation: fadeIn .5s ease-in-out;
    animation: fadeIn .5s ease-in-out;
}

.radius-xs {
    border-radius: .1875rem;
}

.is-block {
    display: block;
}

.bg-img--85 {
    padding-top: 62.5%;
}

.bg-img {
    width: 100%;
    background-position: 50%;
    background-color: #eee;
}

.bg-cover, .bg-img {
    background-size: cover;
    background-repeat: no-repeat;
}

.slick-track:after, .slick-track:before {
    content: "";
    display: table;
}

@media (min-width: 1500px){
.slick-next {
    right: -32px;
}}

/* register css */
.register-title{
    width: 100%;
    background-color: cadetblue;
    height: 100px;
    margin: 0;
    padding: 0;
    display: inline-block;
}
.register-title h2{
    color: white;
    font-size: 30px;
}

.main-titlte{
    position: absolute;
    left: 40px;
}

/* main content */

.container--sm {
    max-width: calc(1296px + 5.6rem);
}

@media (min-width: 1200px){
.container {
    padding: 0 2.8rem !important;
}}

.row {
    flex-wrap: wrap;
    box-sizing: border-box;
    display: flex;
    margin-left: -.5rem;
    margin-right: -.5rem;
}

@media (min-width: 992px){
.first-md {
    -ms-order: 1;
    order: 1;
}}

@media (min-width: 992px){
.col-md-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%;
}}

.media {
    margin-top: 3rem;
    display: block !important;
}

.media img {
    border-style: none;
    max-width: 100%;
    vertical-align: middle;
    height: auto;
}


@media (min-width: 992px){

.col-md-6 {
    flex-basis: 50%;
    max-width: 50%;
}}

@media (min-width: 768px){

.col-sm-6 {
    flex-basis: 50%;
    max-width: 50%;
}}


.media__title {
    margin: 1.5rem 0 .875rem;
    font-size: 1.125rem;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
    margin-top: 0;
    line-height: 1.25;
}

.media__content {
    color: #555;
}

.m--0 {
    margin: 0!important;
}

@media (min-width: 992px){
.col-md-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
}}

.first-xs {
    -ms-order: 1;
    order: 1;
}

@media (min-width: 990px){
.account {
    margin-top: -6.875rem;
}}

@media (min-width: 768px){
.account {
    padding: 2rem;
}}

.account {
    padding: .975rem;
    background: #fff;
    box-shadow: 0 9px 46px 8px rgba(0,0,0,.02), 0 24px 38px 3px rgba(0,0,0,.04), 0 11px 15px -7px rgba(0,0,0,.05);
    border-radius: .625rem;
    margin-top: -3.375rem;
}

.account__title {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.input-group__label {
    position: relative;
}

.input-group__label+*, .input-group__label+.input {
    margin-top: .5rem;
}

.input-group {
    margin-bottom: 1rem;
}

input:not(.input--square), select:not(.input--square), textarea:not(.input--square) {
    border-radius: 3rem;
}

.mt--0 {
    margin-top: 0!important;
}

input, textarea {
    padding: .5rem 1.25rem;
}

input, select, textarea {
    height: 3rem;
    border: 1px solid #e6e6e6;
    transition: all .3s;
    font-size: 14px;
    font-family: Luxstay;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 100%;
    border-radius: 5px;
}

button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

.input-icon.is-absolute {
    top: 12px;
}

.input-group__icon span {
    right: 1.15rem;
    top: calc(50% - 4px);
}

.is-absolute {
    position: absolute!important;
}

[class*=" icon-"], [class^=icon-] {
    font-family: Luxstay-icon!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    -webkit-font-feature-settings: normal;
    font-feature-settings: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.p--small {
    font-size: 14px!important;
}

.c-alert {
    color: #f65e39!important;
}

.input-group__label+*, .input-group__label+.input {
    margin-top: .5rem;
}

.phone-input {
    display: flex;
}

.country {
    position: relative;
}

.pointer {
    cursor: pointer;
}

.country .code {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: #f6f6f6;
    border-radius: 2rem;
    width: 120px;
    margin-right: 1rem;
}

.flag-box {
    display: inline-block;
    width: 20px;
    margin-right: 6px;
    vertical-align: middle;
}

.iti-flag.vn {
    height: 14px;
    background-position: -5412px 0;
}

.iti-flag {
    width: 20px;
    height: 15px;
    box-shadow: 0 0 1px 0 #888;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAFf4AAAAPCAYAAAAb+RpkAACAAElEQ…rmYjwgdxHkLKQl0gjDSHNfHf8bTSs0IMRn/8b7BCPt/D/mPRtuNTjhOAAAAABJRU5ErkJggg==);
    background-repeat: no-repeat;
    background-color: #dbdbdb;
    background-position: 20px 0;
}

.dropdown-flag {
    position: absolute;
    top: 54px;
    left: 0;
    z-index: 1;
    background-color: #fff;
    width: 300px;
    max-height: 300px;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    border: 1px solid #bbb;
    border-radius: 2px;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: left;
    -webkit-overflow-scrolling: touch;
}

ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.dropdown-flag li {
    padding-left: 10px;
    margin-top: 5px;
}

.iti-flag.af {
    height: 14px;
    background-position: -66px 0;
}

.dropdown-flag .country-name {
    margin-right: 6px;
}

.c-gray-9 {
    color: #999!important;
}

.btn-grad--primary:hover {
    background-position: 100%;
}

.btn:hover {
    color: #fff;
}

.account__body>* {
    margin-top: 2rem;
}

.btn--shadow {
    box-shadow: 0 4px 12px 0 rgba(246,116,57,.4);
}

.btn-grad--primary {
    background-image: linear-gradient(90deg,#f65e38 0,#f68a39 51%,#f65e38);
    background-size: 200% auto;
}

.btn--radius, .btn--radius:before {
    border-radius: 3rem;
}

.btn--full {
    width: 100%;
    text-align: center;
}

.btn--md, .btn--xl {
    padding: 0 1.875rem;
    height: 3.5rem;
    line-height: 3.5rem;
}

.bold, .coupon__action, .coupon__code {
    font-weight: 700;
}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
    font-family: inherit;
    border: 0;
}

.btn {
    outline: 0;
    cursor: pointer;
    color: #fff;
    border-radius: 2px;
    font-size: 1rem;
    display: inline-block;
    transition: all .3s;
    text-align: center;
}

.btn--radius, .btn--radius:before {
    border-radius: 3rem;
}

.account__body>* {
    margin-top: 2rem;
}

.center-xs {
    justify-content: center;
    text-align: center;
}

.text-orange {
    color: #f65e39;
}

.caption, .promotion-box__desc>.desc-item {
    font-size: .875rem;
    color: #555;
    display: block;
}

.caption a, .promotion-box__desc>.desc-item a {
    color: inherit;
}

.account__3rd .btn:last-child {
    margin-top: 1rem;
}

.account__3rd .btn {
    border-color: #e6e6e6;
}

.btn-outline--secondary {
    border: 1px solid #555;
    color: #555;
}

.btn--radius, .btn--radius:before {
    border-radius: 3rem;
}

.btn--md, .btn--xl {
    padding: 0 1.875rem;
    height: 3.5rem;
    line-height: 3.5rem;
}

.btn span {
    pointer-events: none;
}

.account__3rd i, .account__3rd svg {
    top: calc(50% - .5rem);
    right: 1.275rem;
}

svg:not(:root) {
    overflow: hidden;
}

.svg-fill {
    fill: currentColor;
    stroke: none;
}

.svg-icon {
    display: inline-block;
    width: 1em;
    height: auto;
    color: inherit;
    vertical-align: middle;
    fill: none;
    stroke: currentColor;
}

@media (min-width: 1400px){

.page-search .c-filter--fixtop {
    position: fixed;
    top: 80px;
    z-index: 2;
    background: #fff;
    width: 100%;
}}


.container {
    margin: auto;
    padding: 0 1.25rem;
}

.py--12 {
    padding-top: 12px!important;
    padding-bottom: 12px!important;
}

.d-none {
    display: none!important;
}

.is-flex.jbetween {
    justify-content: space-between;
    -ms-justify-content: space-between;
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-between;
}

.is-flex {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.search-filter__fields {
    flex-wrap: nowrap;
}

.search-filter__fields>* {
    flex: 1 0 auto;
}

.el-popover {
    padding: 12px;
}

.el-popover {
    color: #000;
}

.el-popover {
    position: absolute;
    background: #fff;
    min-width: 150px;
    border-radius: 4px;
    border: 1px solid #ebeef5;
    padding: 12px;
    z-index: 2000;
    color: #222;
    line-height: 1.4;
    text-align: justify;
    font-size: 16px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
}

.el-popover:focus, .el-popover:focus:active, .el-popover__reference:focus:hover, .el-popover__reference:focus:not(.focusing) {
    outline-width: 0;
}

.search-filter__button {
    padding: .5em .8em;
    font-size: .875rem;
    font-weight: 600;
    margin-right: .75rem;
    border-radius: 5px;
    height: 36px;
}

.btn-outline--gray {
    border: 1px solid #e6e6e6;
    color: #222;
    background-color: #fff;
}

.container--md {
    max-width: fit-content;
}


.mt--30 {
    margin-top: 30px!important;
}

#popular-area .slick-slide {
    padding-left: 15px;
    padding-right: 15px;
}



.slick-initialized .slick-slide {
    display: block;
}

.popular-area {
    cursor: pointer;
    padding: 18px 24px;
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.06);
    border: 1px solid rgba(0,0,0,.1);
    background-color: #fff;
    position: relative;
}

.popular-area:before {
    content: "";
    position: absolute;
}

.popular-area__title {
    font-size: 18px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mb--6 {
    margin-bottom: 6px!important;
}

.mb--0 {
    margin-bottom: 0!important;
}

p {
    margin: 0 0 1rem;
}

.slick-track:after {
    clear: both;
}

@media screen and (min-width: 1500px){
#popular-area .slick-next {
    right: -15px;
}}

#popular-area .slick-next, #popular-area .slick-prev {
    width: 30px !important;
    height: 30px !important;
}

#popular-area {
    margin-left: 30px;
    margin-right: 30px;
}

.p--giant {
    font-size: 24px!important;
}

.promo {
    margin-top: 1.5rem;
}

.promo__image-wrap {
    position: relative;
    z-index: 0;
}

.promo__image-wrap:before {
    content: "";
    display: block;
    width: 100%;
    padding-top: 66.2069%;
}

.promo__image-wrap img {
    border-radius: 3px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
}

[lazy=loaded] {
    -webkit-animation: fadeIn .5s ease-in-out;
    animation: fadeIn .5s ease-in-out;
}


.promo__content {
    margin-top: .5rem;
    font-size: .875rem;
}

.promo__type {
    font-size: .75rem;
    text-transform: uppercase;
    color: #888;
    display: -webkit-box;
    max-height: 1.5rem;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.promo__title {
    font-size: 1rem;
    margin-bottom: 0;
    display: -webkit-box;
    max-height: 52px;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.extra-bold {
    font-weight: 900;
}

.promo__content>* svg {
    margin-right: 2px;
    position: relative;
    top: -2px;
}

svg:not(:root) {
    overflow: hidden;
}

.svg-fill {
    fill: currentColor;
    stroke: none;
}

.promo__description {
    font-size: 14px;
}

.my--6 {
    margin-top: 6px;
    margin-bottom: 6px!important;
}

.text-lowercase {
    text-transform: lowercase!important;
}

.strike {
    position: relative;
    display: inline-block;
}

.d-inline-block {
    display: inline-block!important;
}

@media (min-width: 1200px){
.col-lg-20 {
    flex-basis: 20%;
    max-width: 20%;
}}

@media screen and (min-width: 576px){
.promo__label-wrap {
    left: 1rem;
    top: 1rem;
}}

.promo__label-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    left: 5px;
    top: 5px;
}

.promo__label {
    font-size: .75rem;
    background: #f65e39;
    color: #fff;
    border-radius: 1.5rem;
    letter-spacing: .5px;
    line-height: 1.375rem;
    padding: 0 .5rem;
}

.py--30 {
    padding-top: 30px!important;
    padding-bottom: 30px!important;
}

.text--center {
    text-align: center;
}

article, aside, figcaption, figure, footer, header, main, nav, section {
    display: block;
}

.pagination, .pagination .page-item a, .pagination .page-item span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination .page-item a, .pagination .page-item span {
    width: 30px;
    height: 30px;
    line-height: 1;
}

.pagination .page-item.active a {
    background-color: #f65e39;
    color: #fff;
    border-radius: 50px;
}

#popular-area .slick-list {
    margin-left: -15px!important;
    margin-right: -15px!important;
}

/* detail of item */

@media (min-width: 1024px){
#headerSlider .slick-slide, .gallery, .room-slide img {
    height: 420px;
}}

@media (min-width: 575px){
#headerSlider .slick-slide, .gallery, .room-slide img {
    height: 400px;
}}

.gallery {
    background: #000;
    overflow: hidden;
}

.gallery {
    position: relative;
    transition: background .2s;
}



#headerSlider .slick-prev {
    left: 100px;
}

.slick-next.slick-disabled, .slick-prev.slick-disabled {
    opacity: .5;
}


.slick-prev:before {
    content: "<" !important;
}

#headerSlider .slick-next:before {
    content: ">" !important;
}

@media (min-width: 992px){
.slick-list {
    margin-left: -.5rem!important;
    margin-right: -.5rem!important;
}}

#headerSlider .slick-slide {
    padding-left: 2.5px;
    padding-right: 2.5px;
}

.room-slide {
    overflow: hidden;
    position: relative;
    transition: opacity .3s ease-in;
}

#headerSlider .slick-next, #headerSlider .slick-prev {
    background: rgba(0,0,0,.7) !important;
    border: none !important;
}

#headerSlider .slick-next {
    right: 100px !important;
}

.container--room {
    max-width: calc(1100px + 5.6rem);
}

.detail-left {
    padding-right: 50px;
}

.breadcrumbs {
    padding: 1.5rem 0;
}

.middle-xs {
    align-items: center;
}

@media (min-width: 768px){
.d-sm-flex {
    display: flex!important;
}}

.breadcrumbs i {
    margin: 0 .75rem;
    font-size: .05rem;
}

.icon-arrow-right:before {
    content: "\e902";
}

@media (min-width: 768px){
.pt--sm--0 {
    padding-top: 0!important;
}}

.room-id {
    position: relative;
}

.room-id__wrapper {
    top: 0;
    right: 0;
    width: 80px;
    border-radius: 3px;
    position: relative;
    background-color: rgba(246,94,57,.1);
    padding: 2px 10px;
    color: #f65e39;
}

.d-inline-block {
    display: inline-block!important;
}

.room-id__wrapper:after {
    content: "";
    position: absolute;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    bottom: 0;
    left: 0;
    border-color: rgba(246,94,57,.1) transparent transparent;
    border-style: solid;
    border-width: 10px 40px;
}

.detail__location {
    font-size: .875rem;
}

@media (min-width: 992px){
.start-md {
    justify-content: flex-start;
    text-align: left;
}}

.mt--18 {
    margin-top: 18px!important;
}

.svg-fill {
    fill: currentColor;
    stroke: none;
}

.ml--12 {
    margin-left: 12px!important;
}

.c-green {
    color: #28ca6e!important;
}

.ml--6 {
    margin-left: 6px!important;
}

.detail__type {
    margin-top: 1rem;
}

.slide-item-has-shadow {
    margin-bottom: -20px;
}

.fadeIn {
    -webkit-animation: fadeIn .4s ease-in-out;
    animation: fadeIn .4s ease-in-out;
}

.discount {
    background: #f6f6f6;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.1);
    border: 1px solid #d6d6d6;
    overflow: hidden;
}

.start-xs {
    justify-content: flex-start;
    text-align: left;
}

.is-flex.jbetween {
    justify-content: space-between;
    -ms-justify-content: space-between;
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-between;
}

.discount__title {
    background: #4a4a4a;
    color: #fff;
    padding: 9px 11px;
    font-weight: 700;
}

.discount__content {
    padding: 10px;
    font-size: .875rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.discount__description {
    display: flex;
    align-items: flex-start;
    flex: 1 0;
    flex-wrap: wrap;
}

.discount__detail {
    flex: 1 0 50%;
}

.pr--6, .px--6 {
    padding-right: 6px!important;
}

@media (min-width: 768px){
.copy-txt {
    margin-top: 0;
}}

.copy-txt {
    position: relative;
}

.mt--6 {
    margin-top: 6px!important;
}

.slide-default-left .slick-track {
    margin-left: 0;
}

.slide-item-has-shadow .slick-list {
    padding-bottom: 20px;
}

@media (min-width: 768px){
.d-sm-flex {
    display: flex!important;
}}

.w--100 {
    width: 100%!important;
}

.mt--36 {
    margin-top: 36px!important;
}

.room-des.show {
    opacity: 1;
    z-index: 1;
    position: relative;
    max-height: none;
}

.room-des.dot {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 300px;
}

.room-des.dot:before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,hsla(0,0%,100%,0) 20%,#fff);
}

.amenities .detail__intro p, .amenities .detail__intro span {
    font-family: Luxstay!important;
    font-size: 1rem!important;
    line-height: 1.5rem!important;
    color: #222!important;
}

.room-des {
    opacity: 0;
    position: absolute;
    z-index: -1;
    max-height: 500px;
}

a.color-i, a:hover {
    color: #f65e39;
}

.fl-item-stretch {
    flex: 1 0;
}

.mt--12 {
    margin-top: 12px!important;
}

.ml--6 {
    margin-left: 6px!important;
}

.p--small {
    font-size: 14px!important;
}

.c-gray-5 {
    color: #555!important;
}

.mt--60 {
    margin-top: 60px!important;
}

.title h3 {
    font-size: 1.75rem;
    margin: 0;
}

.detail h4 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.mt--24 {
    margin-top: 24px!important;
}

.list {
    list-style: none;
    font-size: .875rem;
    color: #555;
}

@media (min-width: 768px){
.list--3 li {
    flex-basis: 33.33333%;
}}



.mt--24 {
    margin-top: 24px!important;
}

.mt--60 {
    margin-top: 60px!important;
}

.mb--24 {
    margin-bottom: 24px!important;
}

input:not(.input--square), select:not(.input--square), textarea:not(.input--square) {
    border-radius: 3rem;
}

input, textarea {
    padding: .5rem 1.25rem;
}

input, select, textarea {
    height: 3rem;
    border: 1px solid #e6e6e6;
    transition: all .3s;
    font-size: 14px;
    font-family: Luxstay;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 100%;
    border-radius: 5px;
}

button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

.datepicker-range .asd__wrapper {
    border: none;
    margin-left: -15px;
    margin-right: -15px;
    font-size: 14px;
}

.asd__wrapper {
    border: 1px solid rgba(0,0,0,.2);
    white-space: nowrap;
    text-align: center;
    overflow: hidden;
    background-color: #fff;
}

.asd__datepicker-header, .asd__keyboard-shortcuts-trigger-wrapper {
    position: relative;
}

.asd__wrapper *, .asd__wrapper :after, .asd__wrapper :before {
    box-sizing: border-box;
}

.asd__change-month-button--previous {
    left: 0;
    padding-left: 15px;
}

.asd__change-month-button {
    position: absolute;
    top: 12px;
    z-index: 5;
    background: #fff;
}

.asd__change-month-button>button {
    background-color: #fff;
    border: 1px solid #e4e7e7;
    border-radius: 3px;
    padding: 4px 8px;
    cursor: pointer;
}

.asd__change-month-button--next {
    right: 0;
    padding-right: 15px;
}

.asd__change-month-button {
    position: absolute;
    top: 12px;
    z-index: 5;
    background: #fff;
}

.datepicker-range .asd__change-month-button>button {
    background-color: #e6e6e6;
}

.asd__days-legend {
    z-index: 1;
}

.asd__days-legend {
    position: absolute;
    top: 50px;
    left: 10px;
    padding: 0 10px;
}

.datepicker-range .asd__day-title {
    font-weight: 700;
}

.asd__day-title {
    display: inline-block;
    width: 14.28571%;
    text-align: center;
    margin-bottom: 4px;
    color: rgba(0,0,0,.7);
    font-size: .8em;
    margin-left: -1px;
}

@media (min-width: 992px){
.room-sidebar {
    max-width: 375px;
    margin-left: auto;
}}

.room-sidebar {
    border-radius: 3px;
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
}

.is-shadow-box-2 {
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
}

@media (min-width: 1200px){
.px--lg--18 {
    padding-left: 18px!important;
}}

.py--24 {
    padding-top: 24px!important;
    padding-bottom: 24px!important;
}

.room-sidebar__pricing {
    font-size: 28px;
}

.strike:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: #999;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
}

.image-box--large {
    width: 68px;
}

.image-box {
    position: relative;
}

.image-box:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.image-box--circle>img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
}

.host-intro__name {
    flex: 1 1;
}

:not(.layout-fixed) .main-sidebar {
    height: inherit;
    min-height: 100%;
    position: absolute;
    top: 0;
}

.elevation-4 {
    box-shadow: 0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22)!important;
}

[class*=sidebar-dark-] {
    background-color: #343a40;
}

.main-sidebar {
    height: 100vh;
    overflow-y: hidden;
    z-index: 1038;
    margin-top: 76px;
}

.main-sidebar, .main-sidebar::before {
    transition: margin-left .3s ease-in-out,width .3s ease-in-out;
    width: 250px;
}

.sidebar {
    height: calc(100% - 4rem);
    padding-bottom: 0;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-top: 0;
    overflow: hidden;
}

[class*=sidebar-dark] .user-panel {
    border-bottom: 1px solid #4f5962;
}

.user-panel, .user-panel .info {
    overflow: hidden;
    white-space: nowrap;
}

.user-panel {
    position: relative;
}

.user-panel .image {
    display: inline-block;
    padding-left: .8rem;
}

.user-panel img {
    height: auto;
    width: 2.1rem;
}

.elevation-2 {
    box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23)!important;
}

.img-circle {
    border-radius: 50%;
}

.main-sidebar .brand-text, .main-sidebar .logo-xl, .main-sidebar .logo-xs, .sidebar .nav-link p, .sidebar .user-panel .info {
    transition: margin-left .3s linear,opacity .3s ease,visibility .3s ease;
}

.user-panel .info {
    display: inline-block;
    padding: 5px 5px 5px 10px;
}

.user-panel, .user-panel .info {
    overflow: hidden;
    white-space: nowrap;
}

[class*=sidebar-dark-] .sidebar a {
    color: #c2c7d0;
}

@media (min-width: 992px){
.sidebar-mini .nav-sidebar, .sidebar-mini .nav-sidebar .nav-link, .sidebar-mini .nav-sidebar>.nav-header {
    white-space: nowrap;
    overflow: hidden;
}}

.nav-sidebar {
    position: relative;
}

.flex-column {
    -ms-flex-direction: column!important;
    flex-direction: column!important;
}

.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-sidebar .nav-item>.nav-link {
    margin-bottom: .2rem;
}

[class*=sidebar-dark-] .sidebar a {
    color: #c2c7d0;
}

.nav-pills .nav-link {
    border-radius: .25rem;
}

.nav-sidebar>.nav-item {
    margin-bottom: 0;
}

.nav-sidebar .nav-item>.nav-link {
    position: relative;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
}

.nav-sidebar>.nav-item .nav-icon.fa, .nav-sidebar>.nav-item .nav-icon.fab, .nav-sidebar>.nav-item .nav-icon.far, .nav-sidebar>.nav-item .nav-icon.fas, .nav-sidebar>.nav-item .nav-icon.glyphicon, .nav-sidebar>.nav-item .nav-icon.ion {
    font-size: 1.1rem;
}

.nav-sidebar>.nav-item .nav-icon {
    font-size: 1.2rem;
    margin-right: .2rem;
    text-align: center;
    width: 1.6rem;
}

.main-sidebar .brand-text, .main-sidebar .logo-xl, .main-sidebar .logo-xs, .sidebar .nav-link p, .sidebar .user-panel .info {
    transition: margin-left .3s linear,opacity .3s ease,visibility .3s ease;
}

.nav-sidebar .nav-link p {
    display: inline-block;
    margin: 0;
}

[class*=sidebar-dark-] .nav-sidebar>.nav-item>.nav-treeview {
    background: 0 0;
}

.nav-sidebar .nav-treeview {
    display: none;
    list-style: none;
    padding: 0;
}

[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link {
    color: #c2c7d0;
}

@media (min-width: 768px){
body:not(.sidebar-mini-md) .content-wrapper, body:not(.sidebar-mini-md) .main-footer, body:not(.sidebar-mini-md) .main-header {
    transition: margin-left .3s ease-in-out;
    margin-left: 130px;
}}



