<div class="full-page login-page ">
  <div class=" content">
    <div class=" container">
      <div class=" col-lg-4 col-md-6 ml-auto mr-auto">
        <form class=" form">
          <div class=" card card-login card-white">
            <div class=" card-header">
              <img alt="" src="assets/img/card-primary.png">
              <h1 class=" card-title px-3">Log in</h1>
            </div>
            <div class=" card-body">
              <!-- body -->
              <section class="login_content">
                <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
                  <div [ngClass]="{ 'has-error' : f.submitted && !username.valid }">
                    <input autofocus autocomplete="off" placeholder="Username" type="text" class="form-control input-group-addon" name="username"
                      [(ngModel)]="model.username" #username="ngModel" required />
                    <div *ngIf="f.submitted && !username.valid" class="help-block">Tên đăng nhập yêu cầu</div>
                  </div>
                  <div [ngClass]="{ 'has-error' : f.submitted && !password.valid }" style="margin-top: 10px;">
                    <input placeholder="Password" type="password" class="form-control input-group-addon" name="password"
                      [(ngModel)]="model.password" #password="ngModel" required />
                    <div *ngIf="f.submitted && !password.valid" class="help-block">Mật khẩu được yêu cầu</div>
                  </div>
                  <div *ngIf="blocked">
                    <p>You was blocked out in 5 minutes</p>
        
                  </div>
                  <div class="text-center mb-2">
                    <button class="btn btn-default mx-auto" style="display: block; margin-top: 20px;">Đăng nhập</button>
                    <a class="reset_pass" href="#">Quên mật khẩu</a>
                  </div>
                  <!-- <div class="row mb-2">
                    <div class="col-md-12 text-center">ĐĂNG NHẬP BẰNG</div>
                  </div> -->
                  <div class="row justify-content-end px-3">
                      <button (click)="socialSignIn('facebook')" class="loginBtn loginBtn--facebook mr-2">
                        <i class="fab fa-facebook-square"></i>
                      </button>
                      <button (click)="socialSignIn('google')" class="loginBtn loginBtn--google">
                        <i class="fab fa-google"></i>
                      </button>
                  </div>
                </form>
              </section>
            </div>
            
              <div class="px-3 pull-left">
                <h6><a class=" link footer-link" href="javascript:void(0)"> Create Account </a></h6>
              </div>
              <div class="px-3 pull-right">
                <h6><a class=" link footer-link" href="javascript:void(0)"> Need Help? </a></h6>
              </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>