<ng4-loading-spinner> </ng4-loading-spinner>
<div class="page-title">
  <div class="title_left">
    <h3>Danh sách các danh mục</h3>
  </div>
  <!-- Tìm kiếm danh mục -->
  <div class="title_right">
    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
      <div class="input-group">
        <input type="text" class="form-control" name="filter" (keyup.enter)="loadData()" [(ngModel)]="filter"
          placeholder="Gõ tên danh muc...">
        <span class="input-group-btn">
          <button class="btn btn-default" (click)="loadData()" type="button">Tìm!</button>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<!-- Xuat cac danh muc -->
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <ul class="nav navbar-right panel_toolbox">
          <li>
            <button class="btn btn-success" *ngIf="permission.canCreate" (click)="showAddModal()">Thêm
              mới</button>
          </li>
          <li>
            <select class="form-control" id="sel1" (change)="filterChanged($event.target.value)">
              <option value="0">All</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </select>
          </li>
          <li>
            <span>Trạng thái</span>
            <select class="form-control" id="sel1" (change)="filterStatus($event.target.value)">
              <option value="5">All</option>
              <option value="0">Từ chối</option>
              <option value="1">Đã chấp thuận</option>
              <option value="2">Đang chờ</option>
            </select>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="card-body table-responsive p-0">

        <table class="table table-hover text-nowrap">
          <thead>
            <tr>
              <th>Tên dịch vụ</th>
              <th>Tên người sở hữu/nhà cung cấp</th>
              <th>Hình ảnh</th>
              <th>Trạng thái</th>
              <th></th>
            </tr>
          </thead>
          <tbody *ngIf="permission.canRead">
            <tr *ngFor="let serv of services, let i = index">
              <td>{{serv.serviceName}}</td>
              <td>{{serv.author}}</td>
              <td><img [src]="serv.avtService" alt="" width="128"></td>
              <td *ngIf="serv.status==1"><span class="badge badge-success">Approved</span></td>
              <td *ngIf="serv.status==0"><span class="badge badge-danger">Rejected</span></td>
              <td *ngIf="serv.status==2"><span class="badge badge-secondary">Pending</span></td>
              <td>
                <button *ngIf="permission.canUpdate" class="btn btn-primary" (click)="showEditModal(i)"><i
                    class="fa fa-pencil-square-o"></i></button>
                <button *ngIf="permission.canDelete" class="btn btn-danger" (click)="deleteItem(serv.id,serv.isProvider, i)"><i
                    class="fa fa-trash"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="col-md-12">
          <pagination [boundaryLinks]="true" [itemsPerPage]="pageSize" (pageChanged)="pageChanged($event)"
            [totalItems]="totalRow" [(ngModel)]="pageIndex" class="pagination-sm" previousText="&lsaquo;"
            nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Them danh muc moi -->
<div bsModal #modalAddEdit="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Thêm/Sửa dịch vụ</h4>
        <button type="button" class="close pull-right" (click)="modalAddEdit.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal form-label-left" novalidate #addEditForm="ngForm"
          (ngSubmit)="saveChange(addEditForm.valid)" *ngIf="entity">
          <div class="form-group">
            <div class="col-md-6 col-sm-6 col-xs-12">
              <label class="control-label control-label col-md-3 col-sm-3 col-xs-12">Tên dịch vụ</label>
              <div>
                <input type="hidden" [(ngModel)]="entity.id" name="id" />
                <input type="text" #serviceName="ngModel" [(ngModel)]="entity.serviceName" required minlength="3"
                  name="serviceName" class="form-control">
                <small [hidden]="serviceName.valid || (serviceName.pristine && !addEditForm.submitted)"
                  class="text-danger">
                  Bạn phải nhập tên ít nhất 3 ký tự
                </small>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-6 col-sm-6 col-xs-12">
              <label class="control-label">Chọn loại dịch vụ</label>
              <div>
                <select class="form-control" id="sel1" (change)="filterUserService($event.target.value)">
                  <option value="0">User</option>
                  <option value="1">Provider</option>
                </select>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <label class="control-label">Tác giả</label>
              <div *ngIf="kindOfStyle==1">
                <input type="text" #providerName="ngModel" [(ngModel)]="entity.providerName" 
                  [typeahead]="providerState" minlength="3" name="providerName" class="form-control" autocomplete="off"
                  [disabled]="entity.id!=undefined">
                <small [hidden]="!providerName.invalid || (providerName.pristine && !addEditForm.submitted)"
                  class="text-danger">
                  Bạn phải nhập tên ít nhất 3 ký tự
                </small>
                <small [hidden]="checkProviderName(providerName)" class="text-danger">
                  Không tìm thấy provider bạn đã nhập
                </small>
              </div>
              <div *ngIf="kindOfStyle==0">
                <input type="text" #userName="ngModel" [(ngModel)]="entity.userName" 
                  [typeahead]="userState" minlength="3" name="userName" class="form-control" autocomplete="off"
                  [disabled]="entity.id!=undefined">
                <small [hidden]="!userName.invalid || (userName.pristine && !addEditForm.submitted)"
                  class="text-danger">
                  Bạn phải nhập tên ít nhất 3 ký tự
                </small>
                <small [hidden]="checkUserName(userName)" class="text-danger">
                  Không tìm thấy tên bạn đã nhập
                </small>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-6 col-sm-6 col-xs-12">
              <label class="control-label">Chọn category</label>
              <div>
                <input type="text" #categoryName="ngModel" [(ngModel)]="entity.categoryName" required
                  [typeahead]="categoryState" minlength="3" name="categoryName" class="form-control" autocomplete="off"
                  [disabled]="entity.id!=undefined">
                <small [hidden]="!categoryName.invalid || (categoryName.pristine && !addEditForm.submitted)"
                  class="text-danger">
                  Bạn phải nhập tên ít nhất 3 ký tự
                </small>
                <small [hidden]="checkCategoryName(categoryName)" class="text-danger">
                  Không tìm thấy tên bạn đã nhập
                </small>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <label class="control-label">Chọn giá dịch vụ</label>
              <div>
                <input type="text" #priceOfService="ngModel" [(ngModel)]="entity.priceOfService" required minlength="3"
                  name="priceOfService" class="form-control" [disabled]="entity.id!=undefined">
                <small [hidden]="!priceOfService.invalid || (priceOfService.pristine && !addEditForm.submitted)"
                  class="text-danger">
                  Bạn phải nhập tên ít nhất 3 ký tự
                </small>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Tag</label>
            <div class="col-md-12 col-sm-12 col-xs-12">
              <input type="text" #tagName="ngModel" ngModel [typeahead]="tagState"
                name="tagName" class="form-control" autocomplete="off" >
                <button  type="button" (click)="onEnter(tagName.value)">Thêm tag</button>
            </div>
          </div>
          <div class="form-group">
            <span *ngFor="let item of listTag,let i =index" style="padding-right:10px">
              <button (click)="removeIndex(i)" class="btn btn-success">{{item.tagName}} <span class="badge badge-light" >X</span></button >
            </span>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Mô tả</label>
            <div class="col-md-12 col-sm-12 col-xs-12">
              <editor #description="ngModel" [(ngModel)]="entity.description" name="description"
                apiKey="ztc2nqv57d595lqblftjrhjfgqax9nsxltybl49jl02zys0x" [init]="{
                                    height: 500,
                                    menubar: true,
                                    plugins: [
                                      'advlist autolink lists link image charmap print',
                                      'preview anchor searchreplace visualblocks code',
                                      'fullscreen insertdatetime media table paste',
                                      'help wordcount'
                                    ],
                                    toolbar:
                                      'undo redo | formatselect | bold italic | \
                                      alignleft aligncenter alignright alignjustify | \
                                      bullist numlist outdent indent | help'
                                  }"></editor>
              <small [hidden]="description.valid || (description.pristine && !addEditForm.submitted)"
                class="text-danger">
                Bạn phải nhập tên ít nhất 3 ký tự
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Image</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <!-- <input type="file" #imgPath name="imgPath" class="form-control">
              <p class="help-block label label-danger"> chỉ hỗ trợ định dạng *.png, *.jpg, *.jpeg </p>
              <input type="hidden" [(ngModel)]="entity.imgPath" name="imgPath" />
            </div>

            <div class="col-md-3 col-sm-3 col-xs-12" *ngIf="entity.imgPath">
              <img [src]="entity.imgPath" width="128" /> -->
              <span (click)="showImageModel()" class="btn btn-success" >Thêm hình ảnh</span>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Trang thái</label>
            <span *ngIf="entity.status==1"><span class="badge badge-success">Approved</span></span>
            <span *ngIf="entity.status==0"><span class="badge badge-danger">Rejected</span></span>
            <span *ngIf="entity.status==2"><span class="badge badge-secondary">Pending</span></span>
          </div>
          <div class="ln_solid"></div>
          <div class="form-group">
            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
              <button type="button" (click)="modalAddEdit.hide()" class="btn btn-primary">Hủy
                bỏ</button>
              <button type="submit" class="btn btn-success"
                [disabled]="!addEditForm.form.valid ">Cập
                nhật</button>
              <span *ngIf="entity.id !=undefined">
                <button type="button" *ngIf="entity.status!=1" class="btn btn-info" (click)="approveProvider()">Chấp
                  nhận</button>
                <button type="button" *ngIf="entity.status!=0" class="btn btn-danger" (click)="showRejectProvider()">Từ
                  chối</button>
              </span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div bsModal #modalReason="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">

  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Lý do</h4>
        <button type="button" class="close pull-right" (click)="modalReason.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal form-label-left" novalidate #addReasonForm="ngForm" (ngSubmit)="rejectProvider()"
          *ngIf="entity">
          <div class="form-group">
            <div class="col-md-9 col-sm-9 col-xs-12">
              <textarea type="text" #reason="ngModel" [(ngModel)]="entity.reason" required minlength="3" name="reason"
                class="form-control"></textarea>
              <small [hidden]="reason.valid || (reason.pristine)" class="text-danger">
                Bạn phải nhập tên ít nhất 3 ký tự
              </small>
            </div>
          </div>
          <button type="submit" class="btn btn-success">Cập
            nhật</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div bsModal #modalImage="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">

  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Hình ảnh</h4>
        <button type="button" class="close pull-right" (click)="modalImage.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span class="text-danger" *ngIf="disableIsAvatar() && entity">Xin vui lòng chọn một hình ảnh làm ảnh đại diện</span>
        <form class="form-horizontal form-label-left" novalidate #addImageForm="ngForm"
          *ngIf="entity">
          <div *ngFor="let atag of listImage, let i = index">
            <div class="form-group row">
              <div class="col-md-6 col-sm-6 col-xs-12">
                <label class="control-label">Chọn hình ảnh</label>
                  <input type="checkbox" #isAvatar="ngModel" [(ngModel)]="atag.isAvatar" [disabled]="!disableIsAvatar()"
                    name="isAvatar">
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Image</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="file" #imgPath name="imgPath" class="form-control" (change)="selectChangeFile($event.target.files,i)">
                  <p class="help-block label label-danger"> chỉ hỗ trợ định dạng *.png, *.jpg, *.jpeg </p>
                  <input type="hidden" [(ngModel)]="atag.dataImage" name="imgPath" />
                  <button type="button" class="btn btn-danger" (click)="removeImage(i)"><i class="fa fa-trash"></i></button>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12" *ngIf="atag.path">
                  <img [src]="atag.path" width="128" />
                </div>
              </div>
            </div>
          </div>
          <button class="btn btn-secondary" (click)="addImage()">Thêm hình ảnh</button>
          <button type="submit" class="btn btn-success">Cập nhật</button>
        </form>
      </div>
    </div>
  </div>
</div>