<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Read Mail</h3>

        <div class="card-tools">
            <a href="#" class="btn btn-tool" data-toggle="tooltip" title="Previous"><i
                    class="fas fa-chevron-left"></i></a>
            <a href="#" class="btn btn-tool" data-toggle="tooltip" title="Next"><i class="fas fa-chevron-right"></i></a>
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
        <div class="mailbox-read-info">
            <h5>NSFW là gì</h5>
            <h6>From: shincrazychan@gmail.com
                <span class="mailbox-read-time float-right">19 March. 2020 6:00 PM</span></h6>
        </div>
        <!-- /.mailbox-read-info -->
        <div class="mailbox-controls with-border text-center">
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" data-container="body"
                    title="Delete">
                    <i class="far fa-trash-alt"></i></button>
                <button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" data-container="body"
                    title="Reply">
                    <i class="fas fa-reply"></i></button>
                <button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" data-container="body"
                    title="Forward">
                    <i class="fas fa-share"></i></button>
            </div>
            <!-- /.btn-group -->
            <button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" title="Print">
                <i class="fas fa-print"></i></button>
        </div>
        <!-- /.mailbox-controls -->
        <div class="mailbox-read-message">
            <p>Hello Huy,</p>

            <p>Not safe/suitable for work, viết tắt là NSFW, là một từ lóng Internet hay nhãn tốc ký được sử dụng trong
                các thư điện tử, video, và môi trường thảo luận có tính tương tác (ví dụ như diễn đàn trực tuyến, blog,
                hoặc các trang web cộng đồng) để báo hiệu rằng các URL hoặc siêu liên kết này chứa hình ảnh khỏa thân,
                khiêu dâm, tục tĩu hoặc gây phiền phức. Người xem những nội dung này thường không muốn bị ai nhìn thấy
                hành động của mình tại nơi công cộng hoặc những nơi nghiêm túc như công sở.</p>

            <p>Để xác định một nội dung được coi là NSFW luôn tùy thuộc vào chủ quan người đánh giá, và đặt ra nhiều
                thách thức cho các học giả nghiên cứu về tình dục.[1]

                Vào ngày 28 tháng 11 năm 2007, Drew Curtis, người sáng lập Fark.com, nộp đơn[2] xin đăng ký thương hiệu
                cho cụm từ này, nhưng không được chấp nhận.[3]</p>

            <p>Ngược lại, thuật ngữ safe for work, đôi khi được viết tắt là SFW, được gắn cho các nội dung có tựa đề gây
                nghi vấn hoặc có thể chứa các nội dung NSFW, nhưng thực tế lại hoàn toàn bình thường.</p>

            <p>Thanks,<br>Wikipedia</p>
        </div>
        <!-- /.mailbox-read-message -->
    </div>

    <!-- /.card-footer -->
    <div class="card-footer">
        <div class="float-right">
            <button type="button" class="btn btn-default"><i class="fas fa-reply"></i> Reply</button>
            <button type="button" class="btn btn-default"><i class="fas fa-share"></i> Forward</button>
        </div>
        <button type="button" class="btn btn-default"><i class="far fa-trash-alt"></i> Delete</button>
        <button type="button" class="btn btn-default"><i class="fas fa-print"></i> Print</button>
    </div>
    <!-- /.card-footer -->
</div>